<% title="Item Details" %>
<section>
  <div class="bg-white">
    <div class="bg-gray-900 pt-24 sm:pt-32 pb-4">
    </div>
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <div class="lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8">
        <!-- Image gallery -->
        <div class="flex flex-col-reverse">
          <div class="aspect-h-1 aspect-w-1 w-full">
            <!-- Tab panel, show/hide based on tab state. -->
            <div id="tabs-1-panel-1" aria-labelledby="tabs-1-tab-1" role="tabpanel" tabindex="0">
              <img class="w-600 h-600 rounded-2xl" src="../assets/images/retro-3d-shapes-vaporwave-style 2.png" alt="Angled front view with bag zipped and handles upright." class="h-full w-full object-cover object-center sm:rounded-lg">
            </div>
            <div class="flex">
              <div class="min-w-0 flex-1">
  
                <div id="tabs-1-panel-1" aria-labelledby="tabs-1-tab-1" role="tabpanel" tabindex="0">
                  <img class="w-600 h-600 rounded-2xl" src="../assets/images/retro-3d-shapes-vaporwave-style 2.png" alt="Angled front view with bag zipped and handles upright." class="h-full w-full object-cover object-center sm:rounded-lg">
                </div>
                
                <div class="space-y-6 text-sm text-gray-700 sm:py-5 md:py-5 lg:py-10">
                  <p class="font-bold text-xl"> Description:</p>
                  <p>An exclusive Apollo NFT token, a true masterpiece of digital art. This unique token represents the culmination of creativity and innovation, meticulously crafted by a talented artist. As an NFT, it is secured on the blockchain, guaranteeing its scarcity and authenticity. Don't miss this rare opportunity to own a piece of digital history and be part of the ever-expanding world of NFT collectors. Bid now and become the proud owner of this extraordinary Apollo NFT token, making a mark in the exciting realm of digital ownership.</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        
        <!-- Product info -->
        <div class="mt-0 px-4 sm:mt-0 sm:px-0 lg:mt-0">
          <div class="px-4 sm:flex sm:items-center sm:justify-between sm:px-0 lg:px-0 xl:px-0">
            <h2 class="text-2xl font-bold tracking-tight text-gray-900">Apollo</h2>
            <div class="ml-2 flex flex-shrink-0 gap-x-3">
              <div class="w-14 h-6 px-2 py-1 bg-gray-200 rounded-2xl justify-start items-center gap-2 inline-flex">
                <div class="w-3.5 h-3.5 relative">
                  <div class="w-3.5 h-2.5 left-[0.78px] top-[2.03px] relativeitems-center">
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 5.15625C6.8784 5.15625 6.28226 5.40318 5.84272 5.84272C5.40318 6.28226 5.15625 6.8784 5.15625 7.5C5.15625 8.1216 5.40318 8.71774 5.84272 9.15728C6.28226 9.59682 6.8784 9.84375 7.5 9.84375C8.1216 9.84375 8.71774 9.59682 9.15728 9.15728C9.59682 8.71774 9.84375 8.1216 9.84375 7.5C9.84375 6.8784 9.59682 6.28226 9.15728 5.84272C8.71774 5.40318 8.1216 5.15625 7.5 5.15625ZM6.09375 7.5C6.09375 7.12704 6.24191 6.76935 6.50563 6.50563C6.76935 6.24191 7.12704 6.09375 7.5 6.09375C7.87296 6.09375 8.23065 6.24191 8.49437 6.50563C8.75809 6.76935 8.90625 7.12704 8.90625 7.5C8.90625 7.87296 8.75809 8.23065 8.49437 8.49437C8.23065 8.75809 7.87296 8.90625 7.5 8.90625C7.12704 8.90625 6.76935 8.75809 6.50563 8.49437C6.24191 8.23065 6.09375 7.87296 6.09375 7.5Z" fill="black"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 2.03125C4.67875 2.03125 2.77813 3.72125 1.675 5.15437L1.65562 5.18C1.40562 5.50437 1.17625 5.8025 1.02063 6.155C0.85375 6.53312 0.78125 6.945 0.78125 7.5C0.78125 8.055 0.85375 8.46688 1.02063 8.845C1.17687 9.1975 1.40625 9.49625 1.65562 9.82L1.67562 9.84562C2.77813 11.2788 4.67875 12.9688 7.5 12.9688C10.3212 12.9688 12.2219 11.2788 13.325 9.84562L13.3444 9.82C13.5944 9.49625 13.8238 9.1975 13.9794 8.845C14.1463 8.46688 14.2188 8.055 14.2188 7.5C14.2188 6.945 14.1463 6.53312 13.9794 6.155C13.8231 5.8025 13.5938 5.50437 13.3444 5.18L13.3244 5.15437C12.2219 3.72125 10.3212 2.03125 7.5 2.03125ZM2.41875 5.72625C3.43625 4.40312 5.09375 2.96875 7.5 2.96875C9.90625 2.96875 11.5631 4.40312 12.5812 5.72625C12.8562 6.0825 13.0163 6.295 13.1219 6.53375C13.2206 6.7575 13.2812 7.03062 13.2812 7.5C13.2812 7.96938 13.2206 8.2425 13.1219 8.46625C13.0163 8.705 12.8556 8.9175 12.5819 9.27375C11.5625 10.5969 9.90625 12.0312 7.5 12.0312C5.09375 12.0312 3.43687 10.5969 2.41875 9.27375C2.14375 8.9175 1.98375 8.705 1.87813 8.46625C1.77938 8.2425 1.71875 7.96938 1.71875 7.5C1.71875 7.03062 1.77938 6.7575 1.87813 6.53375C1.98375 6.295 2.145 6.0825 2.41875 5.72625Z" fill="black"/>
                    </svg>                                        
                  </div>
                </div>
                <div class="text-black text-xs font-semibold">
                  225
                </div>
              </div>
              <div class="w-14 h-6 px-2 py-1 bg-gray-200 rounded-2xl justify-start items-center gap-2 inline-flex">
                <div class="w-3.5 h-3.5 relative">
                  <div class="w-3.5 h-2.5 left-[0.78px] top-[2.03px] relative items-center">
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.5625 11.5938L7.5 11.6562L7.43125 11.5938C4.4625 8.9 2.5 7.11875 2.5 5.3125C2.5 4.0625 3.4375 3.125 4.6875 3.125C5.65 3.125 6.5875 3.75 6.91875 4.6H8.08125C8.4125 3.75 9.35 3.125 10.3125 3.125C11.5625 3.125 12.5 4.0625 12.5 5.3125C12.5 7.11875 10.5375 8.9 7.5625 11.5938ZM10.3125 1.875C9.225 1.875 8.18125 2.38125 7.5 3.175C6.81875 2.38125 5.775 1.875 4.6875 1.875C2.7625 1.875 1.25 3.38125 1.25 5.3125C1.25 7.66875 3.375 9.6 6.59375 12.5188L7.5 13.3438L8.40625 12.5188C11.625 9.6 13.75 7.66875 13.75 5.3125C13.75 3.38125 12.2375 1.875 10.3125 1.875Z" fill="black"/>
                    </svg>                    
                  </div>
                </div>
                <button id="myButton" class="text-black text-xs font-semibold">
                  100
                </button>
              </div>
            </div>
          </div>
          
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:py-5 md:py-5 lg:py-10">
            <!-- Box 1-->
            <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
              <div class="flex-shrink-0">
                <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
              </div>
              <div class="min-w-0 flex-1">
                <a href="/profile-info" class="focus:outline-none">
                  <span class="absolute inset-0" aria-hidden="true"></span>
                  <p class="text-sm font-medium text-gray-900">Lolla Smith</p>
                  <p class="truncate text-sm text-gray-500">Owner</p>
                </a>
              </div>
            </div>
          </div>
  
          <div class="relative flex rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
            <div class="min-w-0 flex-1">
              <div class="relative inset-0" aria-hidden="true">
                <span class="text-black text-xs font-normal">Artist :</span>
                <span class="text-black text-xs font-semibold">Lolla Smith</span>
              </div>
              <div class="relative inset-0" aria-hidden="true">
                <span class="text-black text-xs font-normal">Size :</span>
                <span class="text-black text-xs font-semibold">3000 X 3000</span>
              </div>
              <div class="relative inset-0" aria-hidden="true">
                <span class="text-black text-xs font-normal">Create :</span>
                <span class="text-black text-xs font-semibold">04 April, 2022</span>
              </div>
              <div class="relative inset-0" aria-hidden="true">
                <span class="text-black text-xs font-normal">Collection :</span>
                <span class="text-black text-xs font-semibold">Cyberpunk City Art</span>
              </div>
            </div>   
          </div>
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-1 sm:py-5 md:py-5 lg:py-5">
            <div class="px-3.5 py-3.5 rounded-lg justify-between items-center gap-16 inline-flex border border-gray-300 bg-white shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
              <div class="text-black text-xs font-normal">Current Bid</div>
              <div class="text-black text-xs font-normal">
                <span>4.89 ETH</span>
                <span>= $12.246</span>
              </div>
            </div>
          </div>
          <button type="button" class="inline-flex w-full justify-center items-center gap-x-2 rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill="white" d="M4.46156 3.95439V3.13198C4.46156 2.32613 4.78168 1.55328 5.35151 0.983454C5.92133 0.41363 6.69418 0.0935059 7.50003 0.0935059C8.30589 0.0935059 9.07873 0.41363 9.64856 0.983454C10.2184 1.55328 10.5385 2.32613 10.5385 3.13198V3.95439C11.5813 3.98599 12.2198 4.09781 12.7068 4.50213C13.3817 5.06283 13.56 6.01083 13.9157 7.90765L14.5234 11.1487C15.0233 13.8161 15.2729 15.1497 14.5444 16.0281C13.8152 16.9064 12.458 16.9064 9.74445 16.9064H5.25561C2.54124 16.9064 1.18487 16.9064 0.455637 16.0281C-0.273596 15.1497 -0.0224159 13.8161 0.476704 11.1487L1.0844 7.90765C1.44091 6.01164 1.61836 5.06283 2.29331 4.50213C2.78027 4.09781 3.41876 3.98599 4.46156 3.95439ZM5.67695 3.13198C5.67695 2.64847 5.86902 2.18476 6.21092 1.84286C6.55281 1.50097 7.01652 1.3089 7.50003 1.3089C7.98354 1.3089 8.44725 1.50097 8.78915 1.84286C9.13104 2.18476 9.32312 2.64847 9.32312 3.13198V3.94224H5.67695V3.13198Z" fill="#79279F"/>
            </svg>              
            Place your bid
          </button>
          
        </div>
      </div>
      
      <div>
        <div class="sm:hidden w-full">
          <label for="tabs" class="sr-only">Select a tab</label>
          <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
          <select id="tabs" name="tabs" class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
            <a href="#">Bid History</a>  
            <a href="#">Info</a>  
            <a href="#">Provenance</a>  
          </select>
        </div>
        
        <div class="hidden sm:block">
          <div class="border-b border-gray-200">
            <nav class="-mb-px flex space-x-8" aria-label="Tabs">
              <a href="#" class="border-indigo-500 text-indigo-600 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium" aria-current="page">Bid History</a>
              <a href="#" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Info</a>
              <a href="#" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Provenance</a>
            </nav>
            <div class="overflow-hidden bg-white shadow sm:rounded-md">
              <ul role="list" class="divide-y divide-gray-200">
                <li>
                  <div class="flex items-center space-x-3 bg-white px-6 py-5 shadow-sm hover:bg-gray-50">
                    <div class="flex-shrink-0">
                      <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                    </div>
                    <div class="min-w-0 flex-1">
                      <a href="/profile-info" class="focus:outline-none">   
                        <div class="flex items-center justify-between">
                          <p class="truncate text-sm font-bold text-black">Lolla Smith</p>
                          <div class="mr-2 text-sm flex flex-shrink-0">
                            <p class="inline-flex text-green-800"><span>Bidder</span>
                          </div>
                        </div>
                        <div class="flex items-center justify-between mt-1">
                          <p class="truncate text-sm font-bold text-gray-500">Place a bid 8 hours ago</p>
                          <div class="ml-2 flex flex-shrink-0">
                            <p class="inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-800"><span>4.89 ETH</span> <br>
                              <span>= $12.246</span></p>
                          </div>
                        </div>  
                      </a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="flex items-center space-x-3 bg-white px-6 py-5 shadow-sm hover:bg-gray-50">
                    <div class="flex-shrink-0">
                      <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                    </div>
                    <div class="min-w-0 flex-1">
                      <a href="/profile-info" class="focus:outline-none">   
                        <div class="flex items-center justify-between">
                          <p class="truncate text-sm font-bold text-black">Lolla Smith</p>
                          <div class="mr-2 text-sm flex flex-shrink-0">
                            <p class="inline-flex text-green-800"><span>Bidder</span>
                          </div>
                        </div>
                        <div class="flex items-center justify-between mt-1">
                          <p class="truncate text-sm font-bold text-gray-500">Place a bid 8 hours ago</p>
                          <div class="ml-2 flex flex-shrink-0">
                            <p class="inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-800"><span>4.89 ETH</span> <br>
                              <span>= $12.246</span></p>
                          </div>
                        </div>  
                      </a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="flex items-center space-x-3 bg-white px-6 py-5 shadow-sm hover:bg-gray-50">
                    <div class="flex-shrink-0">
                      <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                    </div>
                    <div class="min-w-0 flex-1">
                      <a href="/profile-info" class="focus:outline-none">   
                        <div class="flex items-center justify-between">
                          <p class="truncate text-sm font-bold text-black">Lolla Smith</p>
                          <div class="mr-2 text-sm flex flex-shrink-0">
                            <p class="inline-flex text-green-800"><span>Bidder</span>
                          </div>
                        </div>
                        <div class="flex items-center justify-between mt-1">
                          <p class="truncate text-sm font-bold text-gray-500">Place a bid 8 hours ago</p>
                          <div class="ml-2 flex flex-shrink-0">
                            <p class="inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-800"><span>4.89 ETH</span> <br>
                              <span>= $12.246</span></p>
                          </div>
                        </div>  
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</section>
