<div
  class="rounded-21xl box-border h-[46px] overflow-hidden flex flex-row py-[17px] px-[43px] items-center justify-center border-[0.5px] border-solid border-white">
  <div class="relative font-semibold">Button Header</div>
</div>