<div
  class="rounded-31xl bg-white-dark w-[239px] h-[30px] flex flex-row py-[5px] px-[15px] box-border items-center justify-between">
  <img class="relative w-5 h-5 overflow-hidden shrink-0" alt="" src="/public/solarsortoutline.svg" />

  <div class="relative font-semibold">Sort By Button</div>
</div>