  <!--Metamask-->  
  <a href="#" target="_blank">
    <div class="px-4 pt-7 pb-8 rounded-lg shadow flex-col justify-center items-center gap-4 inline-flex transition-transform duration-300 transform-gpu hover:scale-110 animate animate-fade-up">
      <div class="w-15 h-15 py-2 px-2 gap-2.5">
        <div class="w-15 h-15 py-2 px-2 justify-items items-center gap-2.5 inline-flex animate animate-fade-up">
          <svg width="50" height="47" viewBox="0 0 50 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M48.841 0.0625L27.3865 15.9373L31.3761 6.58184L48.841 0.0625Z" fill="#E17726"/>
            <path d="M1.2092 0.0810547L18.6274 6.58281L22.4156 16.0609L1.2092 0.0810547ZM40.2071 33.8236L49.6897 34.0041L46.3756 45.2623L34.8047 42.0766L40.2071 33.8236ZM9.7928 33.8236L15.175 42.0766L3.62366 45.2625L0.329712 34.0041L9.7928 33.8236Z" fill="#E27625"/>
            <path d="M21.9005 13.647L22.288 26.1632L10.6921 25.6356L13.9906 20.6595L14.0324 20.6116L21.9005 13.647ZM27.9792 13.5073L35.9675 20.612L36.0089 20.6597L39.3074 25.6358L27.714 26.1632L27.9792 13.5073ZM15.5146 33.8603L21.8462 38.7937L14.4912 42.3446L15.5146 33.8603ZM34.4865 33.8595L35.4886 42.3448L28.1541 38.7933L34.4865 33.8595Z" fill="#E27625"/>
            <path d="M28.3161 38.3286L35.7588 41.9325L28.8356 45.2228L28.9075 43.0481L28.3161 38.3286ZM21.6819 38.3302L21.1137 43.0126L21.1604 45.2202L14.2209 41.9325L21.6819 38.3302Z" fill="#D5BFB2"/>
            <path d="M19.5326 27.7969L21.4775 31.8844L14.8558 29.9445L19.5326 27.7969ZM30.4672 27.7973L35.166 29.9445L28.5226 31.8838L30.4672 27.7973Z" fill="#233447"/>
            <path d="M16.0207 33.8185L14.9504 42.6153L9.2135 34.0108L16.0207 33.8185ZM33.9797 33.8187L40.7871 34.0108L35.0287 42.6157L33.9797 33.8187ZM39.475 25.1382L34.5209 30.1872L30.7012 28.4417L28.8725 32.2862L27.6737 25.6751L39.475 25.1382ZM10.5225 25.1382L22.3262 25.6751L21.1272 32.2862L19.2981 28.4423L15.4987 30.1874L10.5225 25.1382Z" fill="#CC6228"/>
            <path d="M10.1887 24.102L15.7938 29.7896L15.9879 35.4047L10.1887 24.102ZM39.817 24.0918L34.0073 35.4147L34.226 29.7896L39.817 24.0918ZM22.0522 24.4484L22.2778 25.8684L22.8352 29.4057L22.4768 40.2699L20.7825 31.5424L20.7819 31.4521L22.0522 24.4484ZM27.945 24.4287L29.2186 31.4521L29.218 31.5424L27.5194 40.2918L27.4522 38.1033L27.1872 29.3412L27.945 24.4287Z" fill="#E27525"/>
            <path d="M34.7242 29.5635L34.5345 34.442L28.6217 39.0488L27.4263 38.2043L28.7662 31.3029L34.7242 29.5635ZM15.2963 29.5635L21.2336 31.3029L22.5734 38.2043L21.3781 39.0488L15.465 34.4416L15.2963 29.5635Z" fill="#F5841F"/>
            <path d="M13.0895 40.855L20.6543 44.4394L20.6223 42.9087L21.2553 42.353H28.7424L29.3983 42.9067L29.3498 44.4362L36.8668 40.864L33.209 43.8866L28.7862 46.9243H21.1946L16.7746 43.8741L13.0895 40.855Z" fill="#C0AC9D"/>
            <path d="M27.7742 37.8516L28.8438 38.6072L29.4705 43.608L28.5635 42.8422H21.4393L20.5494 43.6234L21.1557 38.6076L22.2256 37.8516H27.7742Z" fill="#161616"/>
            <path d="M47.4246 0.501953L50 8.22793L48.3916 16.0398L49.5369 16.9232L47.9871 18.1057L49.152 19.0053L47.6096 20.4098L48.5564 21.0955L46.0436 24.0303L35.7369 21.0293L35.6477 20.9814L28.2205 14.7162L47.4246 0.501953ZM2.57539 0.501953L21.7797 14.7162L14.3523 20.9814L14.2631 21.0293L3.95645 24.0303L1.44355 21.0955L2.38965 20.4104L0.848242 19.0053L2.01074 18.1066L0.437695 16.9209L1.62617 16.0369L0 8.22832L2.57539 0.501953Z" fill="#763E1A"/>
            <path d="M35.2329 20.3731L46.1534 23.5526L49.7012 34.4874H40.3411L33.8918 34.5687L38.5821 25.4265L35.2329 20.3731ZM14.7672 20.3731L11.4174 25.4265L16.1083 34.5687L9.66196 34.4874H0.318604L3.84653 23.5528L14.7672 20.3731ZM31.911 6.52979L28.8565 14.7796L28.2083 25.9241L27.9602 29.4173L27.9405 38.3407H22.0594L22.0403 29.4341L21.7915 25.9212L21.143 14.7796L18.0889 6.52979H31.911Z" fill="#F5841F"/>
          </svg>          
        </div>
      </div>
      <div class="text-center text-black text-lg font-bold">Metamask not available</div>
      <div class="w-64 text-center text-black text-xs font-normal leading-none">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt</div>
    </div>

  </a>
  <!--Bitski-->
  <a href="#" target="_blank">
    <div class="px-4 pt-7 pb-8 rounded-lg shadow flex-col justify-center items-center gap-4 inline-flex transition-transform duration-300 transform-gpu hover:scale-110 animate animate-fade-up">
      <div class="w-15 h-15 py-2 px-2-lg gap-2.5">
        <div class="w-15 h-15 py-2 px-2-lg justify-items items-center gap-2.5 inline-flex animate animate-fade-up">
          <svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M36.4141 26.3477C38.6328 24.2344 40.0039 21.3945 40.0039 18.2617C40.0039 11.7656 34.1406 6.48438 26.9336 6.48438H12.1406C11.6562 6.48438 11.2656 6.875 11.2656 7.35937V46.7969C11.2656 47.2812 11.6562 47.6719 12.1406 47.6719H28.7891C36 47.6719 41.8633 42.3867 41.8633 35.8906C41.8633 31.9648 39.707 28.4883 36.4141 26.3477ZM26.3281 22.6953H20.8633C20.7812 22.6953 20.7227 22.6406 20.6914 22.5664C20.6797 22.543 20.6602 22.5195 20.6602 22.4922V14.5625C20.6602 14.5352 20.6797 14.5117 20.6914 14.4883C20.7227 14.418 20.7812 14.3594 20.8633 14.3594H26.3281C28.5195 14.3594 30.3047 16.2266 30.3047 18.5234C30.3047 20.8242 28.5195 22.6953 26.3281 22.6953ZM26.6602 40.0703H20.8945C20.8789 40.0703 20.8672 40.0547 20.8516 40.0508C20.7656 40.0273 20.6953 39.9609 20.6953 39.8672V30.6328C20.6953 30.5391 20.7656 30.4727 20.8516 30.4492C20.8711 30.4453 20.8789 30.4297 20.8945 30.4297H26.6562C26.7656 30.4297 26.875 30.4375 26.9805 30.4492C29.2617 30.6328 31.0664 32.7109 31.0664 35.25C31.0664 37.7812 29.2695 39.8594 26.9922 40.0508C26.8867 40.0586 26.7734 40.0703 26.6602 40.0703Z" fill="#40C0E7"/>
          </svg>       
        </div>
      </div>
      <div class="text-center text-black text-lg font-bold">Bitski</div>
      <div class="w-64 text-center text-black text-xs font-normal leading-none">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt</div>
    </div>
  </a>
  <!--Fortmatic-->
  <a href="#" target="_blank">
    <div class="px-4 pt-7 pb-8 rounded-lg shadow flex-col justify-center items-center gap-4 inline-flex transition-transform duration-300 transform-gpu hover:scale-110 animate animate-fade-up">
      <div class="w-15 h-15 py-2 px-2-lg gap-2.5">
        <div class="w-15 h-15 py-2 px-2-lg justify-items items-center gap-2.5 inline-flex animate animate-fade-up">
          <svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.375 0.5H40.625C45.8027 0.5 50 4.69727 50 9.875V41.125C50 46.3027 45.8027 50.5 40.625 50.5H9.375C4.19727 50.5 0 46.3027 0 41.125V9.875C0 4.69727 4.19727 0.5 9.375 0.5Z" fill="#734F96"/>
            <path d="M6.81482 42.8732C6.81482 40.8852 6.83044 40.708 7.00427 40.7043C7.10857 40.7023 8.1365 40.6562 9.28884 40.6021C11.1445 40.515 11.4408 40.4752 11.881 40.2545C12.2291 40.0797 12.4447 39.875 12.6004 39.5719C12.8209 39.142 12.8224 39.0426 12.8224 25.4459C12.8224 12.6693 12.8099 11.7301 12.6351 11.4107C12.3986 10.9783 11.9883 10.6535 11.484 10.4994C11.2676 10.4334 10.1285 10.3533 8.95271 10.3217L6.81482 10.2641V5.96191H43.1851V22.0904L41.2638 22.0795C40.207 22.0736 39.2207 22.0348 39.0718 21.9936C38.8056 21.9193 38.799 21.8902 38.6715 20.2453C38.5078 18.134 38.374 17.199 38.0345 15.7945C37.3008 12.7584 35.7521 11.1064 33.2236 10.6627C32.1627 10.4766 27.5342 10.2967 23.7281 10.2936L21.1031 10.2916V22.4184L22.4834 22.35C24.0611 22.2719 25.3017 22.0812 25.9004 21.825C26.5381 21.5523 27.2113 20.8633 27.5265 20.1609C27.8558 19.427 28.0715 18.4627 28.2443 16.9486C28.3123 16.3533 28.3904 15.7566 28.4179 15.6227C28.4677 15.3801 28.4769 15.3791 30.5767 15.3791H32.6853V34.7549H28.3875L28.3152 33.6373C28.1843 31.6135 27.7902 29.6969 27.3168 28.7813C26.6695 27.5295 25.3957 26.9668 22.8351 26.8018C22.2695 26.7652 21.6451 26.7104 21.4476 26.6797L21.0886 26.624L21.1306 32.7191C21.1748 39.1477 21.1939 39.3988 21.6818 39.9375C22.1834 40.4914 22.4758 40.5295 27.5709 40.7037C27.6744 40.707 27.706 41.216 27.706 42.8732V45.0381H6.81482V42.8732Z" fill="white"/>
          </svg>       
        </div>
      </div>
      <div class="text-center text-black text-lg font-bold">Fortmatic</div>
      <div class="w-64 text-center text-black text-xs font-normal leading-none">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt</div>
    </div>
  </a>
  <!--Wallet Connect-->
  <a href="#" target="_blank">
    <div class="px-4 pt-7 pb-8 rounded-lg shadow flex-col justify-center items-center gap-4 inline-flex transition-transform duration-300 transform-gpu hover:scale-110 animate animate-fade-up">
      <div class="w-15 h-15 py-2 px-2-lg gap-2.5">
        <div class="w-15 h-15 py-2 px-2-lg justify-items items-center gap-2.5 inline-flex animate animate-fade-up">
        <svg width="50" height="47" viewBox="0 0 50 47" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M48.841 0.0625L27.3865 15.9373L31.3761 6.58184L48.841 0.0625Z" fill="#E17726"/>
          <path d="M1.2092 0.0810547L18.6274 6.58281L22.4156 16.0609L1.2092 0.0810547ZM40.2071 33.8236L49.6897 34.0041L46.3756 45.2623L34.8047 42.0766L40.2071 33.8236ZM9.7928 33.8236L15.175 42.0766L3.62366 45.2625L0.329712 34.0041L9.7928 33.8236Z" fill="#E27625"/>
          <path d="M21.9005 13.647L22.288 26.1632L10.6921 25.6356L13.9906 20.6595L14.0324 20.6116L21.9005 13.647ZM27.9792 13.5073L35.9675 20.612L36.0089 20.6597L39.3074 25.6358L27.714 26.1632L27.9792 13.5073ZM15.5146 33.8603L21.8462 38.7937L14.4912 42.3446L15.5146 33.8603ZM34.4865 33.8595L35.4886 42.3448L28.1541 38.7933L34.4865 33.8595Z" fill="#E27625"/>
          <path d="M28.3161 38.3286L35.7588 41.9325L28.8356 45.2228L28.9075 43.0481L28.3161 38.3286ZM21.6819 38.3302L21.1137 43.0126L21.1604 45.2202L14.2209 41.9325L21.6819 38.3302Z" fill="#D5BFB2"/>
          <path d="M19.5326 27.7969L21.4775 31.8844L14.8558 29.9445L19.5326 27.7969ZM30.4672 27.7973L35.166 29.9445L28.5226 31.8838L30.4672 27.7973Z" fill="#233447"/>
          <path d="M16.0207 33.8185L14.9504 42.6153L9.2135 34.0108L16.0207 33.8185ZM33.9797 33.8187L40.7871 34.0108L35.0287 42.6157L33.9797 33.8187ZM39.475 25.1382L34.5209 30.1872L30.7012 28.4417L28.8725 32.2862L27.6737 25.6751L39.475 25.1382ZM10.5225 25.1382L22.3262 25.6751L21.1272 32.2862L19.2981 28.4423L15.4987 30.1874L10.5225 25.1382Z" fill="#CC6228"/>
          <path d="M10.1887 24.102L15.7938 29.7896L15.9879 35.4047L10.1887 24.102ZM39.817 24.0918L34.0073 35.4147L34.226 29.7896L39.817 24.0918ZM22.0522 24.4484L22.2778 25.8684L22.8352 29.4057L22.4768 40.2699L20.7825 31.5424L20.7819 31.4521L22.0522 24.4484ZM27.945 24.4287L29.2186 31.4521L29.218 31.5424L27.5194 40.2918L27.4522 38.1033L27.1872 29.3412L27.945 24.4287Z" fill="#E27525"/>
          <path d="M34.7242 29.5635L34.5345 34.442L28.6217 39.0488L27.4263 38.2043L28.7662 31.3029L34.7242 29.5635ZM15.2963 29.5635L21.2336 31.3029L22.5734 38.2043L21.3781 39.0488L15.465 34.4416L15.2963 29.5635Z" fill="#F5841F"/>
          <path d="M13.0895 40.855L20.6543 44.4394L20.6223 42.9087L21.2553 42.353H28.7424L29.3983 42.9067L29.3498 44.4362L36.8668 40.864L33.209 43.8866L28.7862 46.9243H21.1946L16.7746 43.8741L13.0895 40.855Z" fill="#C0AC9D"/>
          <path d="M27.7742 37.8516L28.8438 38.6072L29.4705 43.608L28.5635 42.8422H21.4393L20.5494 43.6234L21.1557 38.6076L22.2256 37.8516H27.7742Z" fill="#161616"/>
          <path d="M47.4246 0.501953L50 8.22793L48.3916 16.0398L49.5369 16.9232L47.9871 18.1057L49.152 19.0053L47.6096 20.4098L48.5564 21.0955L46.0436 24.0303L35.7369 21.0293L35.6477 20.9814L28.2205 14.7162L47.4246 0.501953ZM2.57539 0.501953L21.7797 14.7162L14.3523 20.9814L14.2631 21.0293L3.95645 24.0303L1.44355 21.0955L2.38965 20.4104L0.848242 19.0053L2.01074 18.1066L0.437695 16.9209L1.62617 16.0369L0 8.22832L2.57539 0.501953Z" fill="#763E1A"/>
          <path d="M35.2329 20.3731L46.1534 23.5526L49.7012 34.4874H40.3411L33.8918 34.5687L38.5821 25.4265L35.2329 20.3731ZM14.7672 20.3731L11.4174 25.4265L16.1083 34.5687L9.66196 34.4874H0.318604L3.84653 23.5528L14.7672 20.3731ZM31.911 6.52979L28.8565 14.7796L28.2083 25.9241L27.9602 29.4173L27.9405 38.3407H22.0594L22.0403 29.4341L21.7915 25.9212L21.143 14.7796L18.0889 6.52979H31.911Z" fill="#F5841F"/>
        </svg>            
      </div>
    </div>
    <div class="text-center text-black text-lg font-bold">Wallet Connect</div>
    <div class="w-64 text-center text-black text-xs font-normal leading-none">Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt</div>
  </div>
  </a>
  <!--Conbase Wallet-->
  <a href="#" target="_blank">
    <div class="px-4 pt-7 pb-8 rounded-lg shadow flex-col justify-center items-center gap-4 inline-flex transition-transform duration-300 transform-gpu hover:scale-110 animate animate-fade-up">
      <div class="w-15 h-15 py-2 px-2-lg gap-2.5">
        <div class="w-15 h-15 py-2 px-2-lg justify-items items-center gap-2.5 inline-flex animate animate-fade-up">
        <svg width="50" height="47" viewBox="0 0 50 47" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M48.841 0.0625L27.3865 15.9373L31.3761 6.58184L48.841 0.0625Z" fill="#E17726"/>
          <path d="M1.2092 0.0810547L18.6274 6.58281L22.4156 16.0609L1.2092 0.0810547ZM40.2071 33.8236L49.6897 34.0041L46.3756 45.2623L34.8047 42.0766L40.2071 33.8236ZM9.7928 33.8236L15.175 42.0766L3.62366 45.2625L0.329712 34.0041L9.7928 33.8236Z" fill="#E27625"/>
          <path d="M21.9005 13.647L22.288 26.1632L10.6921 25.6356L13.9906 20.6595L14.0324 20.6116L21.9005 13.647ZM27.9792 13.5073L35.9675 20.612L36.0089 20.6597L39.3074 25.6358L27.714 26.1632L27.9792 13.5073ZM15.5146 33.8603L21.8462 38.7937L14.4912 42.3446L15.5146 33.8603ZM34.4865 33.8595L35.4886 42.3448L28.1541 38.7933L34.4865 33.8595Z" fill="#E27625"/>
          <path d="M28.3161 38.3286L35.7588 41.9325L28.8356 45.2228L28.9075 43.0481L28.3161 38.3286ZM21.6819 38.3302L21.1137 43.0126L21.1604 45.2202L14.2209 41.9325L21.6819 38.3302Z" fill="#D5BFB2"/>
          <path d="M19.5326 27.7969L21.4775 31.8844L14.8558 29.9445L19.5326 27.7969ZM30.4672 27.7973L35.166 29.9445L28.5226 31.8838L30.4672 27.7973Z" fill="#233447"/>
          <path d="M16.0207 33.8185L14.9504 42.6153L9.2135 34.0108L16.0207 33.8185ZM33.9797 33.8187L40.7871 34.0108L35.0287 42.6157L33.9797 33.8187ZM39.475 25.1382L34.5209 30.1872L30.7012 28.4417L28.8725 32.2862L27.6737 25.6751L39.475 25.1382ZM10.5225 25.1382L22.3262 25.6751L21.1272 32.2862L19.2981 28.4423L15.4987 30.1874L10.5225 25.1382Z" fill="#CC6228"/>
          <path d="M10.1887 24.102L15.7938 29.7896L15.9879 35.4047L10.1887 24.102ZM39.817 24.0918L34.0073 35.4147L34.226 29.7896L39.817 24.0918ZM22.0522 24.4484L22.2778 25.8684L22.8352 29.4057L22.4768 40.2699L20.7825 31.5424L20.7819 31.4521L22.0522 24.4484ZM27.945 24.4287L29.2186 31.4521L29.218 31.5424L27.5194 40.2918L27.4522 38.1033L27.1872 29.3412L27.945 24.4287Z" fill="#E27525"/>
          <path d="M34.7242 29.5635L34.5345 34.442L28.6217 39.0488L27.4263 38.2043L28.7662 31.3029L34.7242 29.5635ZM15.2963 29.5635L21.2336 31.3029L22.5734 38.2043L21.3781 39.0488L15.465 34.4416L15.2963 29.5635Z" fill="#F5841F"/>
          <path d="M13.0895 40.855L20.6543 44.4394L20.6223 42.9087L21.2553 42.353H28.7424L29.3983 42.9067L29.3498 44.4362L36.8668 40.864L33.209 43.8866L28.7862 46.9243H21.1946L16.7746 43.8741L13.0895 40.855Z" fill="#C0AC9D"/>
          <path d="M27.7742 37.8516L28.8438 38.6072L29.4705 43.608L28.5635 42.8422H21.4393L20.5494 43.6234L21.1557 38.6076L22.2256 37.8516H27.7742Z" fill="#161616"/>
          <path d="M47.4246 0.501953L50 8.22793L48.3916 16.0398L49.5369 16.9232L47.9871 18.1057L49.152 19.0053L47.6096 20.4098L48.5564 21.0955L46.0436 24.0303L35.7369 21.0293L35.6477 20.9814L28.2205 14.7162L47.4246 0.501953ZM2.57539 0.501953L21.7797 14.7162L14.3523 20.9814L14.2631 21.0293L3.95645 24.0303L1.44355 21.0955L2.38965 20.4104L0.848242 19.0053L2.01074 18.1066L0.437695 16.9209L1.62617 16.0369L0 8.22832L2.57539 0.501953Z" fill="#763E1A"/>
          <path d="M35.2329 20.3731L46.1534 23.5526L49.7012 34.4874H40.3411L33.8918 34.5687L38.5821 25.4265L35.2329 20.3731ZM14.7672 20.3731L11.4174 25.4265L16.1083 34.5687L9.66196 34.4874H0.318604L3.84653 23.5528L14.7672 20.3731ZM31.911 6.52979L28.8565 14.7796L28.2083 25.9241L27.9602 29.4173L27.9405 38.3407H22.0594L22.0403 29.4341L21.7915 25.9212L21.143 14.7796L18.0889 6.52979H31.911Z" fill="#F5841F"/>
        </svg>           
      </div>
    </div>
    <div class="text-center text-black text-lg font-bold">Coinbase Wallet</div>
    <div class="w-64 text-center text-black text-xs font-normal leading-none">Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt</div>
  </div>
  </a>
  <!--Authereum-->
  <a href="#" target="_blank">
    <div class="px-4 pt-7 pb-8 rounded-lg shadow flex-col justify-center items-center gap-4 inline-flex transition-transform duration-300 transform-gpu hover:scale-110 animate animate-fade-up">
      <div class="w-15 h-15 py-2 px-2-lg gap-2.5">
        <div class="w-15 h-15 py-2 px-2-lg justify-items items-center gap-2.5 inline-flex animate animate-fade-up">
        <svg width="50" height="47" viewBox="0 0 50 47" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M48.841 0.0625L27.3865 15.9373L31.3761 6.58184L48.841 0.0625Z" fill="#E17726"/>
          <path d="M1.2092 0.0810547L18.6274 6.58281L22.4156 16.0609L1.2092 0.0810547ZM40.2071 33.8236L49.6897 34.0041L46.3756 45.2623L34.8047 42.0766L40.2071 33.8236ZM9.7928 33.8236L15.175 42.0766L3.62366 45.2625L0.329712 34.0041L9.7928 33.8236Z" fill="#E27625"/>
          <path d="M21.9005 13.647L22.288 26.1632L10.6921 25.6356L13.9906 20.6595L14.0324 20.6116L21.9005 13.647ZM27.9792 13.5073L35.9675 20.612L36.0089 20.6597L39.3074 25.6358L27.714 26.1632L27.9792 13.5073ZM15.5146 33.8603L21.8462 38.7937L14.4912 42.3446L15.5146 33.8603ZM34.4865 33.8595L35.4886 42.3448L28.1541 38.7933L34.4865 33.8595Z" fill="#E27625"/>
          <path d="M28.3161 38.3286L35.7588 41.9325L28.8356 45.2228L28.9075 43.0481L28.3161 38.3286ZM21.6819 38.3302L21.1137 43.0126L21.1604 45.2202L14.2209 41.9325L21.6819 38.3302Z" fill="#D5BFB2"/>
          <path d="M19.5326 27.7969L21.4775 31.8844L14.8558 29.9445L19.5326 27.7969ZM30.4672 27.7973L35.166 29.9445L28.5226 31.8838L30.4672 27.7973Z" fill="#233447"/>
          <path d="M16.0207 33.8185L14.9504 42.6153L9.2135 34.0108L16.0207 33.8185ZM33.9797 33.8187L40.7871 34.0108L35.0287 42.6157L33.9797 33.8187ZM39.475 25.1382L34.5209 30.1872L30.7012 28.4417L28.8725 32.2862L27.6737 25.6751L39.475 25.1382ZM10.5225 25.1382L22.3262 25.6751L21.1272 32.2862L19.2981 28.4423L15.4987 30.1874L10.5225 25.1382Z" fill="#CC6228"/>
          <path d="M10.1887 24.102L15.7938 29.7896L15.9879 35.4047L10.1887 24.102ZM39.817 24.0918L34.0073 35.4147L34.226 29.7896L39.817 24.0918ZM22.0522 24.4484L22.2778 25.8684L22.8352 29.4057L22.4768 40.2699L20.7825 31.5424L20.7819 31.4521L22.0522 24.4484ZM27.945 24.4287L29.2186 31.4521L29.218 31.5424L27.5194 40.2918L27.4522 38.1033L27.1872 29.3412L27.945 24.4287Z" fill="#E27525"/>
          <path d="M34.7242 29.5635L34.5345 34.442L28.6217 39.0488L27.4263 38.2043L28.7662 31.3029L34.7242 29.5635ZM15.2963 29.5635L21.2336 31.3029L22.5734 38.2043L21.3781 39.0488L15.465 34.4416L15.2963 29.5635Z" fill="#F5841F"/>
          <path d="M13.0895 40.855L20.6543 44.4394L20.6223 42.9087L21.2553 42.353H28.7424L29.3983 42.9067L29.3498 44.4362L36.8668 40.864L33.209 43.8866L28.7862 46.9243H21.1946L16.7746 43.8741L13.0895 40.855Z" fill="#C0AC9D"/>
          <path d="M27.7742 37.8516L28.8438 38.6072L29.4705 43.608L28.5635 42.8422H21.4393L20.5494 43.6234L21.1557 38.6076L22.2256 37.8516H27.7742Z" fill="#161616"/>
          <path d="M47.4246 0.501953L50 8.22793L48.3916 16.0398L49.5369 16.9232L47.9871 18.1057L49.152 19.0053L47.6096 20.4098L48.5564 21.0955L46.0436 24.0303L35.7369 21.0293L35.6477 20.9814L28.2205 14.7162L47.4246 0.501953ZM2.57539 0.501953L21.7797 14.7162L14.3523 20.9814L14.2631 21.0293L3.95645 24.0303L1.44355 21.0955L2.38965 20.4104L0.848242 19.0053L2.01074 18.1066L0.437695 16.9209L1.62617 16.0369L0 8.22832L2.57539 0.501953Z" fill="#763E1A"/>
          <path d="M35.2329 20.3731L46.1534 23.5526L49.7012 34.4874H40.3411L33.8918 34.5687L38.5821 25.4265L35.2329 20.3731ZM14.7672 20.3731L11.4174 25.4265L16.1083 34.5687L9.66196 34.4874H0.318604L3.84653 23.5528L14.7672 20.3731ZM31.911 6.52979L28.8565 14.7796L28.2083 25.9241L27.9602 29.4173L27.9405 38.3407H22.0594L22.0403 29.4341L21.7915 25.9212L21.143 14.7796L18.0889 6.52979H31.911Z" fill="#F5841F"/>
        </svg>            
      </div>
    </div>
    <div class="text-center text-black text-lg font-bold">Authereum</div>
    <div class="w-64 text-center text-black text-xs font-normal leading-none">Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt</div>
  </div>
  </a>
  <!--Kalkus-->
  <a href="#" target="_blank">
    <div class="px-4 pt-7 pb-8 rounded-lg shadow flex-col justify-center items-center gap-4 inline-flex transition-transform duration-300 transform-gpu hover:scale-110 animate animate-fade-up">
      <div class="w-15 h-15 py-2 px-2-lg gap-2.5">
        <div class="w-15 h-15 py-2 px-2-lg justify-items items-center gap-2.5 inline-flex animate animate-fade-up">
        <svg width="50" height="47" viewBox="0 0 50 47" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M48.841 0.0625L27.3865 15.9373L31.3761 6.58184L48.841 0.0625Z" fill="#E17726"/>
          <path d="M1.2092 0.0810547L18.6274 6.58281L22.4156 16.0609L1.2092 0.0810547ZM40.2071 33.8236L49.6897 34.0041L46.3756 45.2623L34.8047 42.0766L40.2071 33.8236ZM9.7928 33.8236L15.175 42.0766L3.62366 45.2625L0.329712 34.0041L9.7928 33.8236Z" fill="#E27625"/>
          <path d="M21.9005 13.647L22.288 26.1632L10.6921 25.6356L13.9906 20.6595L14.0324 20.6116L21.9005 13.647ZM27.9792 13.5073L35.9675 20.612L36.0089 20.6597L39.3074 25.6358L27.714 26.1632L27.9792 13.5073ZM15.5146 33.8603L21.8462 38.7937L14.4912 42.3446L15.5146 33.8603ZM34.4865 33.8595L35.4886 42.3448L28.1541 38.7933L34.4865 33.8595Z" fill="#E27625"/>
          <path d="M28.3161 38.3286L35.7588 41.9325L28.8356 45.2228L28.9075 43.0481L28.3161 38.3286ZM21.6819 38.3302L21.1137 43.0126L21.1604 45.2202L14.2209 41.9325L21.6819 38.3302Z" fill="#D5BFB2"/>
          <path d="M19.5326 27.7969L21.4775 31.8844L14.8558 29.9445L19.5326 27.7969ZM30.4672 27.7973L35.166 29.9445L28.5226 31.8838L30.4672 27.7973Z" fill="#233447"/>
          <path d="M16.0207 33.8185L14.9504 42.6153L9.2135 34.0108L16.0207 33.8185ZM33.9797 33.8187L40.7871 34.0108L35.0287 42.6157L33.9797 33.8187ZM39.475 25.1382L34.5209 30.1872L30.7012 28.4417L28.8725 32.2862L27.6737 25.6751L39.475 25.1382ZM10.5225 25.1382L22.3262 25.6751L21.1272 32.2862L19.2981 28.4423L15.4987 30.1874L10.5225 25.1382Z" fill="#CC6228"/>
          <path d="M10.1887 24.102L15.7938 29.7896L15.9879 35.4047L10.1887 24.102ZM39.817 24.0918L34.0073 35.4147L34.226 29.7896L39.817 24.0918ZM22.0522 24.4484L22.2778 25.8684L22.8352 29.4057L22.4768 40.2699L20.7825 31.5424L20.7819 31.4521L22.0522 24.4484ZM27.945 24.4287L29.2186 31.4521L29.218 31.5424L27.5194 40.2918L27.4522 38.1033L27.1872 29.3412L27.945 24.4287Z" fill="#E27525"/>
          <path d="M34.7242 29.5635L34.5345 34.442L28.6217 39.0488L27.4263 38.2043L28.7662 31.3029L34.7242 29.5635ZM15.2963 29.5635L21.2336 31.3029L22.5734 38.2043L21.3781 39.0488L15.465 34.4416L15.2963 29.5635Z" fill="#F5841F"/>
          <path d="M13.0895 40.855L20.6543 44.4394L20.6223 42.9087L21.2553 42.353H28.7424L29.3983 42.9067L29.3498 44.4362L36.8668 40.864L33.209 43.8866L28.7862 46.9243H21.1946L16.7746 43.8741L13.0895 40.855Z" fill="#C0AC9D"/>
          <path d="M27.7742 37.8516L28.8438 38.6072L29.4705 43.608L28.5635 42.8422H21.4393L20.5494 43.6234L21.1557 38.6076L22.2256 37.8516H27.7742Z" fill="#161616"/>
          <path d="M47.4246 0.501953L50 8.22793L48.3916 16.0398L49.5369 16.9232L47.9871 18.1057L49.152 19.0053L47.6096 20.4098L48.5564 21.0955L46.0436 24.0303L35.7369 21.0293L35.6477 20.9814L28.2205 14.7162L47.4246 0.501953ZM2.57539 0.501953L21.7797 14.7162L14.3523 20.9814L14.2631 21.0293L3.95645 24.0303L1.44355 21.0955L2.38965 20.4104L0.848242 19.0053L2.01074 18.1066L0.437695 16.9209L1.62617 16.0369L0 8.22832L2.57539 0.501953Z" fill="#763E1A"/>
          <path d="M35.2329 20.3731L46.1534 23.5526L49.7012 34.4874H40.3411L33.8918 34.5687L38.5821 25.4265L35.2329 20.3731ZM14.7672 20.3731L11.4174 25.4265L16.1083 34.5687L9.66196 34.4874H0.318604L3.84653 23.5528L14.7672 20.3731ZM31.911 6.52979L28.8565 14.7796L28.2083 25.9241L27.9602 29.4173L27.9405 38.3407H22.0594L22.0403 29.4341L21.7915 25.9212L21.143 14.7796L18.0889 6.52979H31.911Z" fill="#F5841F"/>
        </svg>            
      </div>
    </div>
    <div class="text-center text-black text-lg font-bold">Kalkus</div>
    <div class="w-64 text-center text-black text-xs font-normal leading-none">Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt</div>
  </div>
  </a>
  <!--Torus-->
  <a href="#" target="_blank">
    <div class="px-4 pt-7 pb-8 rounded-lg shadow flex-col justify-center items-center gap-4 inline-flex transition-transform duration-300 transform-gpu hover:scale-110 animate animate-fade-up">
      <div class="w-15 h-15 py-2 px-2-lg gap-2.5">
        <div class="w-15 h-15 py-2 px-2-lg justify-items items-center gap-2.5 inline-flex animate animate-fade-up">
                <svg width="50" height="47" viewBox="0 0 50 47" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M48.841 0.0625L27.3865 15.9373L31.3761 6.58184L48.841 0.0625Z" fill="#E17726"/>
          <path d="M1.2092 0.0810547L18.6274 6.58281L22.4156 16.0609L1.2092 0.0810547ZM40.2071 33.8236L49.6897 34.0041L46.3756 45.2623L34.8047 42.0766L40.2071 33.8236ZM9.7928 33.8236L15.175 42.0766L3.62366 45.2625L0.329712 34.0041L9.7928 33.8236Z" fill="#E27625"/>
          <path d="M21.9005 13.647L22.288 26.1632L10.6921 25.6356L13.9906 20.6595L14.0324 20.6116L21.9005 13.647ZM27.9792 13.5073L35.9675 20.612L36.0089 20.6597L39.3074 25.6358L27.714 26.1632L27.9792 13.5073ZM15.5146 33.8603L21.8462 38.7937L14.4912 42.3446L15.5146 33.8603ZM34.4865 33.8595L35.4886 42.3448L28.1541 38.7933L34.4865 33.8595Z" fill="#E27625"/>
          <path d="M28.3161 38.3286L35.7588 41.9325L28.8356 45.2228L28.9075 43.0481L28.3161 38.3286ZM21.6819 38.3302L21.1137 43.0126L21.1604 45.2202L14.2209 41.9325L21.6819 38.3302Z" fill="#D5BFB2"/>
          <path d="M19.5326 27.7969L21.4775 31.8844L14.8558 29.9445L19.5326 27.7969ZM30.4672 27.7973L35.166 29.9445L28.5226 31.8838L30.4672 27.7973Z" fill="#233447"/>
          <path d="M16.0207 33.8185L14.9504 42.6153L9.2135 34.0108L16.0207 33.8185ZM33.9797 33.8187L40.7871 34.0108L35.0287 42.6157L33.9797 33.8187ZM39.475 25.1382L34.5209 30.1872L30.7012 28.4417L28.8725 32.2862L27.6737 25.6751L39.475 25.1382ZM10.5225 25.1382L22.3262 25.6751L21.1272 32.2862L19.2981 28.4423L15.4987 30.1874L10.5225 25.1382Z" fill="#CC6228"/>
          <path d="M10.1887 24.102L15.7938 29.7896L15.9879 35.4047L10.1887 24.102ZM39.817 24.0918L34.0073 35.4147L34.226 29.7896L39.817 24.0918ZM22.0522 24.4484L22.2778 25.8684L22.8352 29.4057L22.4768 40.2699L20.7825 31.5424L20.7819 31.4521L22.0522 24.4484ZM27.945 24.4287L29.2186 31.4521L29.218 31.5424L27.5194 40.2918L27.4522 38.1033L27.1872 29.3412L27.945 24.4287Z" fill="#E27525"/>
          <path d="M34.7242 29.5635L34.5345 34.442L28.6217 39.0488L27.4263 38.2043L28.7662 31.3029L34.7242 29.5635ZM15.2963 29.5635L21.2336 31.3029L22.5734 38.2043L21.3781 39.0488L15.465 34.4416L15.2963 29.5635Z" fill="#F5841F"/>
          <path d="M13.0895 40.855L20.6543 44.4394L20.6223 42.9087L21.2553 42.353H28.7424L29.3983 42.9067L29.3498 44.4362L36.8668 40.864L33.209 43.8866L28.7862 46.9243H21.1946L16.7746 43.8741L13.0895 40.855Z" fill="#C0AC9D"/>
          <path d="M27.7742 37.8516L28.8438 38.6072L29.4705 43.608L28.5635 42.8422H21.4393L20.5494 43.6234L21.1557 38.6076L22.2256 37.8516H27.7742Z" fill="#161616"/>
          <path d="M47.4246 0.501953L50 8.22793L48.3916 16.0398L49.5369 16.9232L47.9871 18.1057L49.152 19.0053L47.6096 20.4098L48.5564 21.0955L46.0436 24.0303L35.7369 21.0293L35.6477 20.9814L28.2205 14.7162L47.4246 0.501953ZM2.57539 0.501953L21.7797 14.7162L14.3523 20.9814L14.2631 21.0293L3.95645 24.0303L1.44355 21.0955L2.38965 20.4104L0.848242 19.0053L2.01074 18.1066L0.437695 16.9209L1.62617 16.0369L0 8.22832L2.57539 0.501953Z" fill="#763E1A"/>
          <path d="M35.2329 20.3731L46.1534 23.5526L49.7012 34.4874H40.3411L33.8918 34.5687L38.5821 25.4265L35.2329 20.3731ZM14.7672 20.3731L11.4174 25.4265L16.1083 34.5687L9.66196 34.4874H0.318604L3.84653 23.5528L14.7672 20.3731ZM31.911 6.52979L28.8565 14.7796L28.2083 25.9241L27.9602 29.4173L27.9405 38.3407H22.0594L22.0403 29.4341L21.7915 25.9212L21.143 14.7796L18.0889 6.52979H31.911Z" fill="#F5841F"/>
        </svg>           
      </div>
    </div>
    <div class="text-center text-black text-lg font-bold">Torus</div>
    <div class="w-64 text-center text-black text-xs font-normal leading-none">Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt</div>
  </div>
  </a>
  