<div class="flex items-center text-xs text-white font-body-reg-title">
  <div class="w-[1046px] flex flex-row items-start justify-between">
    <div
      class="rounded-3xs bg-white shadow-[0px_17px_40px_rgba(228,_212,_212,_0.25)] w-[238px] overflow-hidden shrink-0 flex flex-col pt-0 px-0 pb-[18px] box-border items-center justify-start gap-[16px]">
      <div
        class="relative rounded-t-3xs rounded-b-none w-[238px] h-[178px] overflow-hidden shrink-0 bg-[url(/public/frame-18@3x.png)] bg-cover bg-no-repeat bg-[top]">
        <div
          class="absolute top-[12px] left-[175px] rounded-3xs bg-black flex flex-row py-[3px] px-2 items-start justify-start gap-[2px]">
          <div class="relative font-semibold">100</div>
          <img class="relative w-[15px] h-[15px]" alt="" src="/public/mdiheartoutline.svg" />
        </div>
      </div>
      <div class="flex flex-col items-center justify-start gap-[16px] text-black">
        <div class="w-52 flex flex-row items-center justify-between">
          <div class="relative font-semibold">//Card 4</div>
          <div
            class="rounded-8xs bg-secondary w-8 flex flex-row py-[3px] px-[9px] box-border items-center justify-center text-white">
            <div class="relative font-semibold">BSC</div>
          </div>
        </div>
        <div class="w-[207px] flex flex-row items-center justify-between">
          <div class="flex flex-row items-center justify-start gap-[16px]">
            <img class="relative rounded-mini w-[45px] h-[45px] object-cover" alt="" src="/public/frame-21@2x.png" />

            <div class="flex flex-col items-start justify-start gap-[8px]">
              <div class="relative">Owned By</div>
              <div class="relative font-semibold">Lolla Smith</div>
            </div>
          </div>
          <div class="flex flex-col items-start justify-start gap-[8px]">
            <div class="relative">Current Bid</div>
            <div class="relative text-base font-semibold">
              4.89ETH
            </div>
          </div>
        </div>
        <div class="w-52 flex flex-row items-start justify-between text-secondary">
          <div
            class="rounded-xl flex flex-row py-2 px-2.5 items-center justify-center gap-[8px] border-[0.5px] border-solid border-secondary">
            <img class="relative w-[8.99px] h-[10.07px]" alt="" src="/public/vector1.svg" />

            <div class="relative">Place bid</div>
          </div>
          <div
            class="rounded-21xl h-[30px] overflow-hidden flex flex-row py-2 px-2.5 box-border items-center justify-start gap-[8px]">
            <img class="relative w-[18px] h-[18px] overflow-hidden shrink-0" alt=""
              src="/public/solarrefreshbold1.svg" />

            <div class="relative">View History</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>