<div class="absolute top-[85px] left-[579px] flex flex-col items-start justify-start gap-[24px]">
  <div class="flex flex-col items-start justify-start gap-[16px]">
    <div class="flex flex-col items-start justify-start gap-[24px]">
      <div class="flex flex-col items-start justify-start gap-[8px]">
        <b class="relative">//Field 2</b>
        <div
          class="rounded-lg box-border w-[665px] overflow-hidden flex flex-row py-[17px] px-[21px] items-center justify-start text-xs text-gray font-body-reg-text border-[0.5px] border-solid border-black">
          <div class="relative">Enter price for one item (ETH)</div>
        </div>
      </div>
    </div>
  </div>
</div>