<div class="w-96 h-40 px-3 py-4 bg-white rounded-lg shadow justify-start items-start gap-6 inline-flex transition-transform duration-300 transform-gpu hover:scale-110">
  <img class="w-36 h-32 rounded-lg" src="https://via.placeholder.com/139x133" />
  <div class="flex-col justify-start items-start gap-4 inline-flex">
    <div class="text-black text-base font-bold">History Log Card Section</div>
    <div class="flex-col justify-start items-start gap-2 flex">
      <div><span class="text-black text-xs font-normal">following </span><span
          class="text-purple-800 text-xs font-normal">Lolla Smith</span></div>
      <div class="text-black text-xs font-normal">19th June, 2021</div>
    </div>
  </div>
</div>