<% title = "404 ERROR" %>
<body>
    <main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
        <div class="text-center">
          <div class="flex items-center justify-center">
            <img src="./assets/images/404.png" class="w-60 h-60" alt="">
          </div>
            <h2 class="mb-8 font-bold text-8xl dark:text-gray-600 font-pilbold">
                <span class="sr-only bg-red-400">Error</span >404</h2>
          <h1 class="mt-4 text-3xl tracking-tight text-gray-900 sm:text-2xl font-rubik">Opps! you're on the wrong place</h1>
          <p class="mt-6 text-base leading-7 text-gray-600 font-ulbanist">Can not find what you need? Take a moment and do a search below or <br> start from our Homepage</br></p>
          <div class="mt-6 flex items-center justify-center gap-x-6">
            <a href="/" class="rounded-3xl bg-purple-200 px-12 py-4 text-sm font-semibold text-purple-600 shadow-sm hover:bg-purple-100 font-urbanist">Back To Home</a>
           
          </div>
        </div>
      </main>
    </body>
