<% title = "404 ERROR" %>
<div class="bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="min-w-0 flex-wrap md:px-8 lg:px-0 xl:col-span-6 mt-5 items-center justify-center">
      <div class="mx-auto mt-16 max-w-2xl lg:text-center">
        <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-7xl">This page is lost.</p>
      </div>
    </div>
  </div>
</div>
<div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8 grid grid-col-2 md:grid-cols-1 xl:grid-cols-2">
      <div class="inline-block min-w-full py-2 align-middle">
        <img src="public/assets/images/vector-icons/error-404.png" alt="">
      </div>
      <div class="hidden xl:lg:inline-block min-w-full py-2 align-middle">
        <span class="mt-6 text-2xl leading-2 text-gray-700 tracking-tighter">
          We've explored deep and wide,
          but we can't find the page you were looking for.
        </span>
        <!--<div
          class="border-2 border-nft-gold-primary hover:bg-nft-gold-primary text-black hover:text-white font-semibold py-[7px] px-5 justify center shadow-lg focus:outline-none focus:ring-2 focus:ring-yellow-500 flex flex-row rounded-lg">
          <button class="relative font-semibold">Go to Dashboard</button>
        </div>-->
        <a href="/" target="/" >
          <p class="mt-4 text-xl font-bold">
            Go to Dashboard.
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
<%- include('../../components/molecule/live-auction'); %>
