<% title = "Home" %>

<section>
  <div
    class="mx-auto max-w-7xl px-6 pb-5 pt-5 sm:pb-32 lg:flex lg:px-8 lg:py-20">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl lg:flex-shrink-0 lg:pt-8">
      <h1 class="text-3xl font-bold pb-8">Live Auctions</h1>
      <div>Card 2</div>
    </div>
  </div>
</section>
