<% title = "No Result" %>
<div class="bg-slate-500 pb-4 sm:pt-32 flex items-center justify-center mb-14">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 ">
      <div class="min-w-0 flex-wrap md:px-8 lg:px-0 xl:col-span-6 mt-5">
        <img src="https://cdn-icons-png.flaticon.com/512/6134/6134065.png" class="w-32 h-32 mx-auto" alt="">
        <div class="mx-auto max-w-2xl lg:text-center">
              <div class="font-bold text-3xl xl:text-4xl lg:text-6xl md:text-5xl mt-10">No Result Found</div>
                    <div class="text-gray-400 font-medium text-sm md:text-xl lg:text-2xl mt-5">The page you are looking for could not be found.</div>
  
                        <div class='max-w-md mx-auto'>
                             <div class="relative flex items-center w-full h-12 rounded-lg focus-within:shadow-lg bg-blue-50 overflow-hidden mt-5 ring-4">
                                    <div class="grid place-items-center h-full w-12 text-gray-300">
                                     <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                     <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                     </svg>
                                     </div>

                                         <input
                                            class="peer h-full w-full outline-none text-sm text-gray-700 pr-2"
                                            type="text"
                                            id="search"
                                            placeholder="Search something.." /> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>