<% title = "Leaderboards" %>
<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h1 class="text-2xl font-semibold leading-6 text-gray-900">Leadboards</h1>
          
        </div>
        
      </div>
      <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle">
            <table class="min-w-full border-separate border-spacing-0">
              <thead>
                <tr>
                  <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8">Collection</th>
                  <th scope="col" class="sticky top-0 z-10 hidden border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:table-cell">Volume</th>
                  <th scope="col" class="sticky top-0 z-10 hidden border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter lg:table-cell">24hrs %</th>
                  <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">7d %</th>
                  <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">Floor Price</th>
                  <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">Owners</th>
                  <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">Assets</th>
                </tr>
              </thead>
              <tbody>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-green-400 lg:table-cell">+3456%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-red-600">-564%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">33k</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">23k</td>  
                  </a>
                </tr>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-green-400 lg:table-cell">+3456%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-red-600">-564%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">33k</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">23k</td>  
                  </a>
                </tr>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-green-400 lg:table-cell">+3456%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-red-600">-564%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">33k</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">23k</td>  
                  </a>
                </tr> 
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-green-400 lg:table-cell">+3456%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-red-600">-564%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">33k</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">23k</td>  
                  </a>
                </tr><tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-green-400 lg:table-cell">+3456%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-red-600">-564%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">33k</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">23k</td>  
                  </a>
                </tr> 
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-green-400 lg:table-cell">+3456%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-red-600">-564%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">33k</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">23k</td>  
                  </a>
                </tr>  
              </tbody>
              
              
              
            
            </table>
          </div>
        </div>
      </div>
    </div>
        
  </div>
</div>
