<% title = "Leaderboards" %>
<div class="bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="min-w-0 flex-wrap md:px-8 lg:px-0 xl:col-span-6 items-center justify-center">
      <div class="max-w-2xl lg:text-center">
        <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl text-left">Leadboards</p>
      </div>
    </div>
  </div>
</div>
<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6  lg:max-w-7xl lg:px-8">
    <div class="px-4 sm:px-0 lg:px-0">
      <div class="">
        <p class="font-bold text-2xl">Sort by:</p>
        <div class="inline-flex rounded-lg border border-gray-100 bg-gray-100 mt-5 font-semibold">
          <button class="inline-block rounded-md px-4 py-2 text-sm text-gray-500 hover:text-gray-700 focus:relative">
            Top
          </button>
        
          <button class="inline-block rounded-md px-4 py-2 text-sm text-gray-500 hover:text-gray-700 focus:relative">
            Gainers
          </button>
        
          <button class="inline-block rounded-md bg-white px-4 py-2 text-sm text-black shadow-sm focus:relative">
            Losers
          </button>

          <button class="inline-block rounded-md px-4 py-2 text-sm text-gray-500 hover:text-gray-700 focus:relative">
            Volume
          </button>
        </div>
      </div>
      </div>

      <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8 grid grid-col-1 xl:grid-cols-1">
          <div class="inline-block min-w-full py-2 align-middle">
            <table class="min-w-full border-separate border-spacing-0">
              <thead>
                <tr>
                  <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8">Collection</th>
                  <th scope="col" class="sticky top-0 z-10 hidden border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:table-cell">Volume</th>
                  <th scope="col" class="sticky top-0 z-10 hidden border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter lg:table-cell">24hrs %</th>
                  <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">7d %</th>
                  <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">Floor Price</th>
                  <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">Owners</th>
                  <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">Assets</th>
                </tr>
              </thead>
              <tbody>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-green-400 lg:table-cell">+3456%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-red-600">-564%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">33k</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">23k</td>  
                  </a>
                </tr>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-green-400 lg:table-cell">+3456%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-red-600">-564%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">33k</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">23k</td>  
                  </a>
                </tr>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-green-400 lg:table-cell">+3456%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-red-600">-564%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">33k</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">23k</td>  
                  </a>
                </tr> 
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-green-400 lg:table-cell">+3456%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-red-600">-564%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">33k</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">23k</td>  
                  </a>
                </tr><tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-green-400 lg:table-cell">+3456%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-red-600">-564%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">33k</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">23k</td>  
                  </a>
                </tr> 
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-green-400 lg:table-cell">+3456%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-red-600">-564%</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">33k</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">23k</td>  
                  </a>
                </tr>  
              </tbody>
              
              
              
            
            </table>
          </div>
        </div>
      </div>
    </div>      
  </div>
</div>
