<<<<<<< HEAD
<% title = "Authors" %>
<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <div class="px-4 sm:px-0 lg:px-0">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <p class="text-2xl font-semibold leading-6 text-gray-900">Leadboards</p> 
        </div>  
      </div>
      <!--<div class="sm:hidden">
        <label for="tabs" class="sr-only">Select a tab</label>
        <select id="tabs" name="tabs"
          class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
          <option>Top</option>
      
          <option>Gainers</option>
      
          <option selected>Losers</option>
      
          <option>Volume</option>
        </select>
      </div>-->
      <div class="sm:block">
        <div class="border-b border-gray-200">
          <nav class="-mb-px flex space-x-8 mt-10" aria-label="Tabs">

            <a href="#"
              class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Top</a>
      
            <a href="#"
              class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Gainers</a>
      
            <a href="#" class="border-indigo-500 text-indigo-600 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium"
              aria-current="page">Losers</a>
      
            <a href="#"
              class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Volume</a>
          </nav>
        </div>
      </div>
      </div>
      <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8 grid grid-col-2 md:grid-cols-1 xl:grid-cols-2">
          <div class="inline-block min-w-full py-2 align-middle">
            <table class="min-w-full border-separate border-spacing-0">
              <thead>
                <tr>
                  <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8">Collection</th>
                  <th scope="col" class="sticky top-0 z-10 hidden border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:table-cell">Volume</th>
                  <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">Floor Price</th>
                </tr>
              </thead>
              <tbody>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                  </a>
                </tr>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                  </a>
                </tr>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                  </a>
                </tr>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                  </a>
                </tr>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                  </a>
                </tr>  
              </tbody>            
            </table>
          </div>
          <div class="hidden xl:lg:inline-block min-w-full py-2 align-middle">
            <table class="min-w-full border-separate border-spacing-0">
              <thead>
                <tr>
                  <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8">Collection</th>
                  <th scope="col" class="sticky top-0 z-10 hidden border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:table-cell">Volume</th>
                  <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">Floor Price</th>
                </tr>
              </thead>
              <tbody>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                  </a>
                </tr>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                  </a>
                </tr>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                  </a>
                </tr>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                  </a>
                </tr>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                  </a>
                </tr>  
              </tbody>            
            </table>
          </div>
        </div>
      </div>
    </div>      
  </div>
</div>



<!-- <div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <div class="sm:flex-auto">
      <p class="text-2xl font-semibold leading-6 text-gray-900">Leadboards</p> 
=======
<% title = "Profile Information" %>
<div class="bg-gray-900 pt-24 sm:pt-32 pb-4"></div>
<div class="relative bg-white w-full h-[1507px] text-left text-13xl text-black font-heading-heading-3">
  <div class="absolute top-[78px] left-[197px] flex flex-col items-start justify-start gap-[32px]">
    <div class="grid items-start justify-start gap-[16px]">
      <b class="relative font-semibold text-3xl">Top Sellers</b>
>>>>>>> 8577bfee7aa18f790f03839d14c0affdb678cf56
    </div>
    <%- include('../../components/molecule/authors-1') %>
  </div>
  <div class="absolute top-[345px] left-[0px] w-[1440px] h-[800px] overflow-hidden text-black">
    <div class="absolute top-[48px] left-[197px] flex flex-col items-start justify-start gap-[32px]">
      <b class="relative text-3xl">Our Creators</b>
      <div class="flex flex-col items-center justify-start gap-[24px] text-xs font-body-reg-text">
        <%- include('../../components/molecule/authors-2') %>
        <div
          class="rounded-31xl bg-secondary-light w-[103px] h-[26px] flex flex-row py-2 px-[46px] box-border items-center justify-center text-secondary">
          <div class="relative">Load more</div>
        </div>
      </div>
    </div>
  </div>
<<<<<<< HEAD
</div> -->

<!--
  <div class="inline-block min-w-full py-2 align-middle">        
  </div>
  <div class="hidden xl:lg:inline-block min-w-full py-2 align-middle">
  </div>
-->
=======
</div>
>>>>>>> 8577bfee7aa18f790f03839d14c0affdb678cf56
