<% title = "Authors" %>
<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <div class="px-4 sm:px-0 lg:px-0">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <p class="text-2xl font-semibold leading-6 text-gray-900">Leadboards</p> 
        </div>  
      </div>
      <!--<div class="sm:hidden">
        <label for="tabs" class="sr-only">Select a tab</label>
        <select id="tabs" name="tabs"
          class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
          <option>Top</option>
      
          <option>Gainers</option>
      
          <option selected>Losers</option>
      
          <option>Volume</option>
        </select>
      </div>-->
      <div class="sm:block">
        <div class="border-b border-gray-200">
          <nav class="-mb-px flex space-x-8 mt-10" aria-label="Tabs">

            <a href="#"
              class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Top</a>
      
            <a href="#"
              class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Gainers</a>
      
            <a href="#" class="border-indigo-500 text-indigo-600 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium"
              aria-current="page">Losers</a>
      
            <a href="#"
              class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">Volume</a>
          </nav>
        </div>
      </div>
      </div>
      <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8 grid grid-col-2 md:grid-cols-1 xl:grid-cols-2">
          <div class="inline-block min-w-full py-2 align-middle">
            <table class="min-w-full border-separate border-spacing-0">
              <thead>
                <tr>
                  <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8">Collection</th>
                  <th scope="col" class="sticky top-0 z-10 hidden border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:table-cell">Volume</th>
                  <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">Floor Price</th>
                </tr>
              </thead>
              <tbody>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                  </a>
                </tr>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                  </a>
                </tr>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                  </a>
                </tr>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                  </a>
                </tr>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                  </a>
                </tr>  
              </tbody>            
            </table>
          </div>
          <div class="hidden xl:lg:inline-block min-w-full py-2 align-middle">
            <table class="min-w-full border-separate border-spacing-0">
              <thead>
                <tr>
                  <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8">Collection</th>
                  <th scope="col" class="sticky top-0 z-10 hidden border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:table-cell">Volume</th>
                  <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">Floor Price</th>
                </tr>
              </thead>
              <tbody>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                  </a>
                </tr>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                  </a>
                </tr>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                  </a>
                </tr>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                  </a>
                </tr>
                <tr class="font-bold hover:bg-gray-50" onclick="window.location='#'">
                  <a href="#">
                    <td class="whitespace-nowrap inline-flex gap-x-5 items-center justify-center py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 ">
                      <span><img class="w-15 h-15 rounded-lg" src="https://via.placeholder.com/57x63" /></span> 
                      <span>Hamlet Contemplates</span>
                    </td>
                    <td class="whitespace-nowrap hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">12,4353</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">12,4353 ETH</td> 
                  </a>
                </tr>  
              </tbody>            
            </table>
          </div>
        </div>
      </div>
    </div>      
  </div>
</div>



<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <div class="sm:flex-auto">
      <p class="text-2xl font-semibold leading-6 text-gray-900">Leadboards</p> 
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8 grid grid-col-3 md:grid-cols-2 xl:grid-cols-3">
        <div class="inline-block min-w-full py-2">
          <div class="w-72 h-64 pt-4 rounded-lg flex-col justify-start items-center gap-4 inline-flex">
            <div class="w-64 justify-between items-center gap-20 inline-flex">
              <div class="w-64 h-11 justify-between items-center gap-20 inline-flex">
                <div class="justify-start items-center gap-4 flex">
                    <img class="w-11 h-11 relative rounded-2xl" src="https://via.placeholder.com/45x45" />
                    <div class="flex-col justify-start items-start gap-2 inline-flex">
                        <div class="text-black text-xs font-normal">Owned By</div>
                        <div class="text-black text-xs font-semibold">Lolla Smith</div>
                    </div>
                </div>
                <div class="px-2 py-1.5 rounded-full border border-purple-800 justify-center items-center gap-2.5 flex">
                    <div class="text-purple-800 text-xs font-normal">Following</div>
                </div>
            </div>
            <div class="w-72 h-48 relative">
                <img class="w-36 h-48 left-0 top-0 absolute rounded-lg" src="https://via.placeholder.com/146x192" />
                <img class="w-36 h-32 left-[154px] top-[68px] absolute rounded-lg" src="https://via.placeholder.com/146x124" />
                <div class="w-36 h-16 left-[154px] top-0 absolute justify-between items-center gap-2 inline-flex">
                    <img class="w-16 h-16 relative rounded-lg" src="https://via.placeholder.com/70x64" />
                    <img class="w-16 h-16 relative rounded-lg" src="https://via.placeholder.com/70x64" />
                </div>
            </div>
          </div>
        </div>
        <div class="inline-block min-w-full py-2">
          
        </div>
      </div>
    </div>
  </div>
</div>

<!--
  <div class="inline-block min-w-full py-2 align-middle">        
  </div>
  <div class="hidden xl:lg:inline-block min-w-full py-2 align-middle">
  </div>
-->
