<% title = "Profile Information" %>
<div class="bg-gray-900 pt-24 sm:pt-32 pb-4"></div>
<div class="relative bg-white w-full h-[1507px] text-left text-13xl text-black font-heading-heading-3">
  <div class="absolute top-[78px] left-[197px] flex flex-col items-start justify-start gap-[32px]">
    <div class="grid items-start justify-start gap-[16px]">
      <b class="relative font-semibold text-3xl">Top Sellers</b>
    </div>
    <%- include('../../components/molecule/authors-1') %>
  </div>
  <div class="absolute top-[345px] left-[0px] w-[1440px] h-[800px] overflow-hidden text-black">
    <div class="absolute top-[48px] left-[197px] flex flex-col items-start justify-start gap-[32px]">
      <b class="relative text-3xl">Our Creators</b>
      <div class="flex flex-col items-center justify-start gap-[24px] text-xs font-body-reg-text">
        <%- include('../../components/molecule/authors-2') %>
        <div
          class="rounded-31xl bg-secondary-light w-[103px] h-[26px] flex flex-row py-2 px-[46px] box-border items-center justify-center text-secondary">
          <div class="relative">Load more</div>
        </div>
      </div>
    </div>
  </div>
</div>