<% crdText = crdText; crdText2 = crdText2; imgSrc = imgSrc; %>
<div class="flex flex-col items-center justify-start gap-[8px] [16px] transition-transform duration-300 transform-gpu hover:scale-105">
    <div class="relative w-[88px] h-[88px]">
      <img class="absolute top-[0px] left-[0px] rounded-xl w-[88px] h-[88px] object-cover" alt="" src="<%= imgSrc %>" />
    </div>
    <div class="flex flex-col items-center justify-start gap-[5px]">
      <div class="relative font-semibold text-lg"><%= crdText %></div>
      <div class="relative font-semibold text-sm"><%= crdText2 %></div>
    </div>
</div>