<div
class="rounded-3xs bg-white shadow-[0px_17px_40px_rgba(187,_181,_181,_0.25)] w-[249px] flex flex-row py-2.5 px-4 box-border items-center justify-start gap-[16px] transition-transform duration-300 transform-gpu hover:scale-105">
<img
  class="relative w-[59px] h-[61px]"
  alt=""
  src="../../assets/images/image-thumbnail/card3-image.svg" />

<div class="flex flex-col items-start justify-start gap-[8px] ">
  <b class="relative">Lolla Smith</b>
  <div class="relative text-xs">230.2 ETH</div>
</div>
</div>

<div
class="rounded-3xs bg-white shadow-[0px_17px_40px_rgba(187,_181,_181,_0.25)] w-[249px] flex flex-row py-2.5 px-4 box-border items-center justify-start gap-[16px] transition-transform duration-300 transform-gpu hover:scale-105">
<img
  class="relative w-[59px] h-[61px]"
  alt=""
  src="../../assets/images/image-thumbnail/card3.svg" />

<div class="flex flex-col items-start justify-start gap-[8px] ">
  <b class="relative">John Smith</b>
  <div class="relative text-xs">230.2 ETH</div>
</div>
</div>