<div class="flex flex-col items-center justify-start gap-[16px] transition-transform duration-300 transform-gpu hover:scale-105">
  <img
    class="relative rounded-3xs w-[34px] h-[34px]"
    alt=""
    src="../../assets/images/image-thumbnail/Frame 40.png"
  />

  <div class="flex flex-col items-center justify-start gap-[16px] transition-transform duration-300 transform-gpu hover:scale-105">
    <b class="relative">Set Up Your Wallet</b>
    <div class="relative text-xs text-center inline-block w-[227px]">
      Lorem ipsum is placeholder text commonly used in the graphic, print, and
      publishing industries for previewing
    </div>
  </div>
</div>

<div class="flex flex-col items-center justify-start gap-[16px] transition-transform duration-300 transform-gpu hover:scale-105">
  <img
    class="relative rounded-3xs w-[34px] h-[34px]"
    alt=""
    src="../../assets/images/image-thumbnail/Frame 40.png"
  />

  <div class="flex flex-col items-center justify-start gap-[16px] transition-transform duration-300 transform-gpu hover:scale-105">
    <b class="relative">Create Your Collection</b>
    <div class="relative text-xs text-center inline-block w-[227px]">
      Lorem ipsum is placeholder text commonly used in the graphic, print, and
      publishing industries for previewing
    </div>
  </div>
</div>

<div class="flex flex-col items-center justify-start gap-[16px] transition-transform duration-300 transform-gpu hover:scale-105">
  <img
    class="relative rounded-3xs w-[34px] h-[34px]"
    alt=""
    src="../../assets/images/image-thumbnail/Frame 40.png"
  />

  <div class="flex flex-col items-center justify-start gap-[16px] transition-transform duration-300 transform-gpu hover:scale-105">
    <b class="relative">Add Your NFTs</b>
    <div class="relative text-xs text-center inline-block w-[227px]">
      Lorem ipsum is placeholder text commonly used in the graphic, print, and
      publishing industries for previewing
    </div>
  </div>
</div>

<div class="flex flex-col items-center justify-start gap-[16px] transition-transform duration-300 transform-gpu hover:scale-105">
  <img
    class="relative rounded-3xs w-[34px] h-[34px]"
    alt=""
    src="../../assets/images/image-thumbnail/Frame 40.png"
  />

  <div class="flex flex-col items-center justify-start gap-[16px] transition-transform duration-300 transform-gpu hover:scale-105">
    <b class="relative">List Them For Sale</b>
    <div class="relative text-xs text-center inline-block w-[227px]">
      Lorem ipsum is placeholder text commonly used in the graphic, print, and
      publishing industries for previewing
    </div>
  </div>
</div>
