<div
  class="max-w-[1046px] flex flex-row items-start justify-between text-xs text-white font-body-bold-title">
  <div
    class="rounded-xl bg-white shadow-[0px_17px_40px_rgba(228,_212,_212,_0.25)] flex flex-col pt-0 px-0 pb-4 items-center justify-start gap-[16px]">
    <div
      class="relative rounded-t-3xs rounded-b-none w-[301px] h-[201px] overflow-hidden shrink-0 bg-[url(../../assets/images/image-thumbnail/card2-image-thumbnail.png)] bg-cover bg-no-repeat bg-[top]">
      <div
        class="absolute top-[12px] left-[238px] rounded-3xs bg-black flex flex-row py-[3px] px-2 items-start justify-start gap-[2px]">
        <div class="relative font-semibold">100</div>
        <img
          class="relative w-[15px] h-[15px]"
          alt=""
          src="../../assets/images/vector-icons/vector-heart-outline.svg" />
      </div>
      <div
        class="rounded-lg absolute top-[147px] left-[86px] rounded-3xs bg-white w-[129px] h-[30px] overflow-hidden flex flex-row box-border items-center justify-center gap-[11px] text-black">
        <img
          class="relative w-[15px] h-[15px] overflow-hidden shrink-0"
          alt=""
          src="../../assets/images/vector-icons/vector-fire.svg" />

        <div class="relative">02 : 08 : 22 : 34</div>
      </div>
    </div>
    <div
      class="flex flex-col items-start justify-start gap-[16px] text-base text-black">
      <div class="w-[269px] flex flex-row items-center justify-between">
        <div class="relative font-semibold">Hamlet Contemplates Contem...</div>
        <div
          class="rounded-8xs bg-nft-gold-primary w-8 flex flex-row py-[3px] px-[9px] box-border items-center justify-center text-xs text-white">
          <div class="relative font-semibold">BSC</div>
        </div>
      </div>
      <div class="w-[269px] flex flex-row items-center justify-between text-xs">
        <div class="flex flex-row items-center justify-start gap-[16px]">
          <a href="#">
            <img
              class="relative rounded-lg w-[45px] h-[45px] object-cover"
              alt=""
              src="../../assets/images/profile-thumbnail/dale.png" />
          </a>
          <div class="flex flex-col items-start justify-start gap-[8px]">
            <div class="relative">Creator</div>
            <div class="relative font-semibold">Dale</div>
          </div>
        </div>
        <div class="flex flex-col items-start justify-start gap-[8px]">
          <div class="relative">Current Bid</div>
          <div class="relative text-base font-semibold">4.89ETH</div>
        </div>
      </div>
    </div>
  </div>
</div>
