<div class="flex flex-col items-start justify-start gap-[16px] text-base text-black">
  <div class="w-[269px] flex flex-row items-center justify-between">
    <div class="relative font-semibold">Hamlet Contemplates Contem...</div>
    <div class="rounded-8xs bg-nft-gold-primary w-8 flex flex-row py-[3px] px-[9px] box-border items-center justify-center text-xs text-white">
      <div class="relative font-semibold">BSC</div>
    </div>
  </div>
  <div class="w-[269px] flex flex-row items-center justify-between text-xs">
    <div class="flex flex-row items-center justify-start gap-[16px]">
      <a href="/profile-info">
        <img class="relative rounded-lg w-[45px] h-[45px] object-cover" alt="" src="../../assets/images/profile-thumbnail/dale.png" />
      </a>
      <div class="flex flex-col items-start justify-start gap-[8px]">
        <div class="relative">Creator</div>
        <div class="relative font-semibold">Dale</div>
      </div>
    </div>
    <div class="flex flex-col items-start justify-start gap-[8px]">
      <div class="relative">Current Bid</div>
      <div class="relative text-base font-semibold">4.89ETH</div>
    </div>
  </div>
</div>
