<a href="#">
  <div
    class="relative rounded-t-3xs rounded-b-none w-[301px] h-[201px] overflow-hidden shrink-0 bg-[url(../../assets/images/image-thumbnail/card2-image-thumbnail.png)] bg-cover bg-no-repeat bg-[top]">
    <div class="absolute top-[12px] left-[238px] rounded-3xs bg-black flex flex-row py-[3px] px-2 items-start justify-start gap-[2px]">
      <div class="relative font-semibold text-white">100</div>
      <img class="relative w-[15px] h-[15px]" alt="" src="../../assets/images/vector-icons/vector-heart-outline.svg" />
    </div>
    <div
      class="rounded-lg absolute top-[147px] left-[86px] rounded-3xs bg-white w-[140px] h-[30px] overflow-hidden flex flex-row box-border items-center justify-center gap-[11px] text-black">
      <img class="relative w-[15px] h-[15px] overflow-hidden shrink-0" alt="" src="../../assets/images/vector-icons/vector-fire.svg" />

      <div class="relative">02 : 08 : 22 : 34</div>
    </div>
  </div>
</a>
