<% btnText = btnText; %>

<button class = "border-2 border-nft-gold-primary bg-nft-gold-primary text-black hover:text-white font-semibold py-[7px] px-5 justify-center shadow-lg focus:outline-none  rounded-lg "><%= btnText %></button>

