<% imgSrc = imgSrc; imgSrc1 = imgSrc1; imgSrc2 = imgSrc2; imgSrc3 = imgSrc3; %>
<div
  class="rounded-3xs bg-white shadow-[0px_17px_40px_rgba(193,_209,_210,_0.25)] overflow-hidden flex flex-col pt-0 px-0 pb-[19px] items-center justify-start gap-[16px]">
  <div class="relative w-[217px] h-[163px]">
    <div class="absolute top-[0px] left-[0px] rounded-3xs bg-white w-[217px] h-[132px]">
      <div class="absolute top-[0px] left-[0px] w-[217px] flex flex-row items-start justify-between">
        <img
          class="relative rounded-tl-3xs rounded-tr-none rounded-b-none w-[106px] h-[132px] overflow-hidden shrink-0 object-cover"
          alt=""
          src="<%= imgSrc1 %>" />

        <div class="w-[108px] h-[132px] flex flex-col items-center justify-between">
          <img
            class="relative rounded-tl-none rounded-tr-3xs rounded-b-none w-[108px] h-16 overflow-hidden shrink-0 object-cover"
            alt=""
            src=".<%= imgSrc2%>" />

          <img class="relative w-[108px] h-[65px] object-cover" alt="" src="<%= imgSrc3 %>" />
        </div>
      </div>
    </div>
    <a href="#">
      <img class="absolute top-[102px] left-[77px] w-[59px] h-[61px] rounded-full border-2 border-nft-gold-primary" alt="" src="<%= imgSrc %>" />
    </a>
  </div>
</div>
