<% crdText = crdText; crdVariant = crdVariant; %>

<button class="crd5 crd5-<%= crdVariant %>">
  <div class="">
    <%= crdText %>
    <div class="relative text-xs">
      <span>Created By</span>
      <span class="text-base">
        <b class="font-body-reg-title"> </b>
        <a href="#">
          <span class="font-semibold">Dale</span>
        </a>
      </span>
    </div>
  </div>
</button>