<div
    class="relative rounded-t-3xs rounded-b-none w-[303px] h-[178px] overflow-hidden shrink-0 bg-[url(../../assets/images/image-thumbnail/card2-image-thumbnail.png)] bg-cover bg-no-repeat bg-[top]">
    <div class="absolute top-[11px] left-[217px] rounded-3xs bg-black flex flex-row py-[3px] px-2 items-start justify-start gap-[2px]">
      <div class="relative font-semibold text-white">100</div>
      <img class="relative w-[15px] h-[15px]" alt="" src="../../assets/images/vector-icons/vector-heart-outline.svg" />
    </div>
  </div>
  <div class="flex flex-col items-start justify-start gap-[11px] text-black">
    <div class="relative font-semibold">Hamlet Contemplates Contem...</div>
    <div class="w-[266px] flex flex-row items-center justify-between">
      <div class="flex flex-row items-center justify-start gap-[16px]">
        <img class="relative rounded-full w-[45px] h-[45px] object-cover" alt="" src="../../assets/images/profile-thumbnail/dale.png" />

        <div class="flex flex-col items-start justify-start gap-[8px]">
          <div class="relative">Creator</div>
          <div class="relative font-semibold text-lg">Dale</div>
        </div>
      </div>
      <div class="rounded-lg bg-nft-gold-primary w-8 flex flex-row py-[3px] px-[9px] box-border items-center justify-center text-xs text-white">
        <div class="relative font-semibold">BSC</div>
      </div>
    </div>
    <div class="relative box-border w-[280.5px] h-[0.5px] border-t-[0.5px] border-solid border-gray"></div>
    <div class="w-[280px] flex flex-row items-center justify-between">
      <div class="flex flex-col items-start justify-start gap-[8px]">
        <div class="relative">Current Bid</div>
        <div class="relative text-base">
          <span class="font-semibold">4.89ETH </span>
          <span class="text-xs">= $12.246</span>
        </div>
      </div>
      <div class="rounded-21xl h-[30px] overflow-hidden flex flex-row py-2 px-2.5 box-border items-center justify-start gap-[8px] text-secondary">
        <img class="relative w-[18px] h-[18px] overflow-hidden shrink-0" alt="" src="../../assets/images/vector-icons/vector-history.png" />

        <div class="relative">View History</div>
      </div>
    </div>
  </div>