<div
class = "border-2 border-nft-gold-primary hover:bg-nft-gold-primary text-black hover:text-white font-semibold py-[7px] px-5 justify center shadow-lg focus:outline-none focus:ring-2 focus:ring-yellow-500 flex flex-row rounded-lg"
>
    <button class="relative font-semibold">Day</button>
    </div>

<div
    class = "border-2 border-nft-gold-primary hover:bg-nft-gold-primary text-black hover:text-white font-semibold py-[7px] px-5 justify center shadow-lg focus:outline-none focus:ring-2 focus:ring-yellow-500 flex flex-row rounded-lg"
    >
        <button class="relative font-semibold">Week</button>
        </div>

<div
        class = "border-2 border-nft-gold-primary hover:bg-nft-gold-primary text-black hover:text-white font-semibold py-[7px] px-5 justify center shadow-lg focus:outline-none focus:ring-2 focus:ring-yellow-500 flex flex-row rounded-lg"
        >
            <button class="relative font-semibold">Month</button>
            </div>

