<div
class = "border-2 border-nft-gold-primary hover:bg-nft-gold-primary text-black hover:text-white font-semibold palitan mo py-[7px] px-5 justify center shadow-lg focus:outline-none focus:ring-2 focus:ring-yellow-500 flex flex-row rounded-full"
>
    <button class="relative font-semibold">Button Sort</button>
    </div>

<div
class = "border-2 border-nft-gold-primary hover:bg-nft-gold-primary text-black hover:text-white font-semibold palitan mo py-[7px] px-5 justify center shadow-lg focus:outline-none focus:ring-2 focus:ring-yellow-500 flex flex-row rounded-full"
        <butto class="relative font-semibold">1 week</butto>
    </div>

<div
class = "border-2 border-nft-gold-primary hover:bg-nft-gold-primary text-black hover:text-white font-semibold palitan mo py-[7px] px-5 justify center shadow-lg focus:outline-none focus:ring-2 focus:ring-yellow-500 flex flex-row rounded-full"
        <button class="relative font-semibold">1 month</button>
    </div>

