<div class="bg-white pt-24 sm:pt-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="max-w-7xl">
            <a href="#">
                <span
                    class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl no-underline hover:underline hover:decoration-nft-gold-primary">Browse
                    By Category</span>
            </a>
            <div
                class="mx-auto mt-20 flex-wrap grid max-w-2xl grid-cols-2 gap-8 sm:flex-wrap md:flex-1 xl:mx-0 xl:max-w-none xl:grid-cols-4 xl:gap-12">
                <div
                    class="flex flex-col items-center text-black justify-start gap-[32px] text-lg transition-transform duration-300 transform-gpu hover:scale-110">
                    <div
                        class="rounded-xl bg-white shadow-[0px_0px_40px_rgba(198,_185,_185,_0.25)] flex flex-col p-6 items-start justify-start">
                        <div class="flex flex-col items-start justify-start gap-[16px]">
                            <b>Music</b>
                            <img class="relative rounded-3xs w-[244px] h-[162px] object-cover" alt=""
                                src="../../assets/images/card1/Frame 13.png" />
                        </div>
                    </div>
                </div>
                <div
                    class="flex flex-col items-center text-black justify-start gap-[32px] text-lg transition-transform duration-300 transform-gpu hover:scale-110">
                    <div
                        class="rounded-xl bg-white shadow-[0px_0px_40px_rgba(198,_185,_185,_0.25)] flex flex-col p-6 items-start justify-start">
                        <div class="flex flex-col items-start justify-start gap-[16px]">
                            <b>Domain Name</b>
                            <img class="relative rounded-3xs w-[244px] h-[162px] object-cover" alt=""
                                src="../../assets/images/card1/Frame 14.png" />
                        </div>
                    </div>
                </div>
                <div
                    class="flex flex-col items-center text-black justify-start gap-[32px] text-lg transition-transform duration-300 transform-gpu hover:scale-110">
                    <div
                        class="rounded-xl bg-white shadow-[0px_0px_40px_rgba(198,_185,_185,_0.25)] flex flex-col p-6 items-start justify-start">
                        <div class="flex flex-col items-start justify-start gap-[16px]">
                            <b>Arts</b>
                            <img class="relative rounded-3xs w-[244px] h-[162px] object-cover" alt=""
                                src="../../assets/images/card1/Frame 15.png" />
                        </div>
                    </div>
                </div>
                <div
                    class="flex flex-col items-center text-black justify-start gap-[32px] text-lg transition-transform duration-300 transform-gpu hover:scale-110">
                    <div
                        class="rounded-xl bg-white shadow-[0px_0px_40px_rgba(198,_185,_185,_0.25)] flex flex-col p-6 items-start justify-start">
                        <div class="flex flex-col items-start justify-start gap-[16px]">
                            <b>Utility</b>
                            <img class="relative rounded-3xs w-[244px] h-[162px] object-cover" alt=""
                                src="../../assets/images/card1/Frame 16.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>