<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
            class="mx-auto mt-10 flex flex-wrap justify-around max-w-2xl grid-cols-1 gap-6 sm:grid-cols-3 xl:mx-0 xl:max-w-none xl:grid-cols-3 xl:gap-8 ">
            <%- include('../../components/atom/card-6'); %> 
        </div>
    </div>
</div>