<div class="relative h-screen">
  <video 
    class="absolute top-0 left-0 h-full w-full object-cover blur-0 backdrop-blur-0 "
    src="../assets/videos/video.mp4"
    type="video/mp4"
    autoplay
    muted
    loop></video>
  <div class="relative isolate px-6 lg:px-8 top-32">
    <div class="mx-auto max-w-7xl py-10 sm:py-10 lg:py-36 animate-fade-up">
      <div class="hidden sm:mb-8 sm:grid">
        <p class="font-pilbold uppercase text-nft-gold-primary font-semibold ml-20">
          nft marketplace
        </p>
        <h1 class="font-pilbold uppercase text-white font-black ml-20 text-6xl">
          Discover, find and sell <br />extraordinary
          <span class="text-nft-gold-primary font-pilbold">NFTs</span>
        </h1>
      </div>
      <div class="hidden sm:mb-8 sm:flex">
        <h1 class="font-pilbold uppercase text-white font-black ml-20 text-6xl">
          Marketplace for <br />
          <span class="text-nft-gold-primary font-pilbold">non fungible token</span> NFTs
        </h1>
      </div>
      <div class="text-center ml-20">
        <div class="mt-10 flex items-center justify-start gap-x-6">
          <button
            class="border-2 border-nft-gold-primary hover:bg-nft-gold-primary text-white hover:text-black font-black px-12 py-2 rounded-lg shadow-lg focus:outline-none focus:ring-2 focus:ring-yellow-500">
            Create
          </button>
          <button
            class="border-2 border-nft-gold-primary hover:bg-nft-gold-primary text-white hover:text-black font-black px-12 py-2 rounded-lg shadow-lg focus:outline-none focus:ring-2 focus:ring-yellow-500">
            Explore
          </button>
        </div>
      </div>
    </div>
    <div
      class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
      aria-hidden="true">
      <div
        class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
        style="
          clip-path: polygon(
            74.1% 44.1%,
            100% 61.6%,
            97.5% 26.9%,
            85.5% 0.1%,
            80.7% 2%,
            72.5% 32.5%,
            60.2% 62.4%,
            52.4% 68.1%,
            47.5% 58.3%,
            45.2% 34.5%,
            27.5% 76.7%,
            0.1% 64.9%,
            17.9% 100%,
            27.6% 76.8%,
            76.1% 97.7%,
            74.1% 44.1%
          );
        "></div>
    </div>
  </div>
</div>
