<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="flex max-w-7xl justify-between">
      <span class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
        >Live Auctions</span
      >
      <button type="button" class="inline-flex text-gray-700">
        <span class="text-sm font-semibold tracking-tight text-gray-900"
          >Explore more</span
        >
      </button>
    </div>
    <div
      class="mx-auto mt-10 flex flex-wrap justify-around max-w-2xl grid-cols-3 gap-6 sm:grid-cols-3 xl:mx-0 xl:max-w-none xl:grid-cols-3 xl:gap-8">
      <%- include('../../components/atom/card-2'); %> <%-
      include('../../components/atom/card-2'); %> <%-
      include('../../components/atom/card-2'); %>
    </div>
  </div>
</div>
