<div class="bg-white py-24 sm:py-32">
</div>
<div class="mx-auto max-w-7xl px-6 lg:px-8">
  <div class="flex max-w-7xl justify-between">
    <a href="/auction">
      <span
        class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl no-underline hover:underline hover:decoration-nft-gold-primary"
        >Live Auctions</span
      >
    </a>
    <a href="/auction">
      <button type="button" class="inline-flex text-gray-700">
        <span class="text-sm font-semibold tracking-tight text-gray-900"
          >Explore more</span
        >
      </button>
    </a>
  </div>
      <!-- Slider main container -->
  <div class="swiper flex max-w-7xl mx-auto h-96 mt-10">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper flex">
      <!-- Slides -->
      <div class="swiper-slide flex"><%- include('../../components/organism/live-auction'); %></div>
      <div class="swiper-slide flex"><%- include('../../components/organism/live-auction'); %></div>
      <div class="swiper-slide flex"><%- include('../../components/organism/live-auction'); %></div>
    </div>
    <!-- If we need pagination -->
    <!-- <div class="swiper-pagination"></div> -->

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>
</div>
</div>