<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <nav class="mx-auto flex max-w-7xl justify-between">
          <span class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Browse by Category</span>
          <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
              <span class="text-sm font-semibold tracking-tight text-gray-900">Explore more</span>
          </button>
      </nav>
      <div
          class="mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-6 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-4 lg:gap-8">
          <div class="flex flex-col items-center text-black justify-start gap-[32px] text-lg">
              <div
                  class="rounded-xl bg-white shadow-[0px_0px_40px_rgba(198,_185,_185,_0.25)] flex flex-col p-6 items-start justify-start">
                  <div class="flex flex-col items-start justify-start gap-[16px]">
                      <b>//Card 1</b>
                      <img class="relative rounded-3xs w-[244px] h-[162px] object-cover" alt="" src="/public/frame-14@2x.png" />
                  </div>
              </div>
          </div>
          <div class="flex flex-col items-center text-black justify-start gap-[32px] text-lg">
              <div
                  class="rounded-xl bg-white shadow-[0px_0px_40px_rgba(198,_185,_185,_0.25)] flex flex-col p-6 items-start justify-start">
                  <div class="flex flex-col items-start justify-start gap-[16px]">
                      <b>//Card 1</b>
                      <img class="relative rounded-3xs w-[244px] h-[162px] object-cover" alt="" src="/public/frame-14@2x.png" />
                  </div>
              </div>
          </div>
          <div class="flex flex-col items-center text-black justify-start gap-[32px] text-lg">
              <div
                  class="rounded-xl bg-white shadow-[0px_0px_40px_rgba(198,_185,_185,_0.25)] flex flex-col p-6 items-start justify-start">
                  <div class="flex flex-col items-start justify-start gap-[16px]">
                      <b>//Card 1</b>
                      <img class="relative rounded-3xs w-[244px] h-[162px] object-cover" alt="" src="/public/frame-14@2x.png" />
                  </div>
              </div>
          </div>
          <div class="flex flex-col items-center text-black justify-start gap-[32px] text-lg">
              <div
                  class="rounded-xl bg-white shadow-[0px_0px_40px_rgba(198,_185,_185,_0.25)] flex flex-col p-6 items-start justify-start">
                  <div class="flex flex-col items-start justify-start gap-[16px]">
                      <b>//Card 1</b>
                      <img class="relative rounded-3xs w-[244px] h-[162px] object-cover" alt="" src="/public/frame-14@2x.png" />
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>