<div
  class="rounded-3xs bg-white shadow-[0px_18px_40px_rgba(196,_196,_196,_0.25)] overflow-hidden flex flex-col pt-0 px-0 pb-4 items-center justify-start gap-[16px] transition-transform duration-300 transform-gpu hover:scale-105">
  <%- include('../../components/atom/profile-info'); %>
</div>