<% title = "Help Center" %>
<!--Temporary Section for now-->
<div class="bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="min-w-0 flex-wrap md:px-8 lg:px-0 xl:col-span-6 mt-5 items-center justify-center">
      <div class="mx-auto max-w-2xl lg:text-center">
        <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">How can we help you?</p>
        <p class="mt-6 text-lg leading-2 text-gray-300">Quis tellus eget adipiscing convallis sit sit eget aliquet quis. Suspendisse eget egestas a elementum pulvinar et feugiat blandit at. In mi viverra elit nunc.</p>
      </div>
      <div class="flex py-4 md:mx-auto md:max-w-3xl lg:max-w-xl xl:px-0 mx-auto">
          <div class="w-full">
              <label for="search" class="sr-only">Search</label>
              <div class="relative">
                  <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                      <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd"></path>
                      </svg>
                  </div>
                  <input id="search" name="search" class="block w-full rounded-md border-0 bg-white py-2 pl-10 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" placeholder="Search" type="search">
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-white py-10 sm:py-10">
  <div class="mx-auto max-w-7xl px-6 xl:px-8">
    <div
      class="mx-auto mt-20 grid max-w-2xl grid-cols-2 gap-6 sm:grid-cols-2 xl:mx-0 xl:max-w-none xl:grid-cols-3 xl:gap-x-8">
      <!--Contact Center-->
      <div class="w-72 h-52 px-4 pt-7 pb-8 rounded-lg shadow flex-col justify-center items-center gap-4 inline-flex transition-transform duration-300 transform-gpu hover:scale-110">
        <div class="w-15 h-15 py-2 px-2 bg-indigo-600 rounded-lg gap-2.5">
          <div class="w-15 h-15 py-2 px-2 bg-indigo-600 rounded-lg justify-items items-center gap-2.5 inline-flex">
            <div class="w-10 h-10 relative">
              <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.64666 23.8667C9.71828 23.8905 9.79191 23.9078 9.86666 23.9183C10.3382 25.0295 10.8071 26.1417 11.2733 27.255C12.1117 29.2583 12.9567 31.3217 13.1417 31.915C13.3733 32.645 13.6167 33.1417 13.8833 33.4817C14.0217 33.655 14.18 33.8083 14.3667 33.925C14.4639 33.9859 14.5679 34.0351 14.6767 34.0717C15.21 34.2717 15.6967 34.1884 16.0017 34.0867C16.1806 34.0256 16.351 33.9416 16.5083 33.8367L16.5167 33.8333L21.2267 30.8967L26.6683 35.0667C26.7483 35.1283 26.835 35.18 26.9283 35.2217C27.5817 35.505 28.215 35.605 28.8117 35.525C29.405 35.4417 29.8767 35.1933 30.2283 34.9117C30.6321 34.5862 30.9541 34.1707 31.1683 33.6984L31.1833 33.6617L31.1883 33.6483L31.1917 33.6417V33.6383L31.1933 33.6367C31.2223 33.565 31.2446 33.4908 31.26 33.415L36.2267 8.37335C36.2424 8.29319 36.2502 8.21169 36.25 8.13002C36.25 7.39668 35.9733 6.69835 35.325 6.27668C34.7683 5.91502 34.15 5.89835 33.7583 5.92835C33.3383 5.96168 32.9483 6.06502 32.6867 6.14835C32.5402 6.19478 32.3956 6.24704 32.2533 6.30502L32.235 6.31335L4.37833 17.24L4.375 17.2417C4.28074 17.2764 4.18789 17.3147 4.09666 17.3567C3.87577 17.456 3.66387 17.5742 3.46333 17.71C3.085 17.9684 2.21333 18.6783 2.36166 19.8517C2.47833 20.785 3.11833 21.36 3.50999 21.6367C3.72333 21.7883 3.92666 21.8967 4.07666 21.9683C4.14333 22.0017 4.28666 22.0583 4.34833 22.085L4.365 22.09L9.64666 23.8667ZM33.21 8.61335H33.2067C33.1923 8.61972 33.1779 8.62583 33.1633 8.63168L5.27333 19.5733C5.25898 19.5792 5.24453 19.5847 5.23 19.59L5.21333 19.595C5.16238 19.615 5.11233 19.6373 5.06333 19.6617C5.10972 19.6883 5.15757 19.7122 5.20666 19.7333L10.4433 21.4967C10.5369 21.5282 10.6264 21.5707 10.71 21.6233L28.005 11.4984L28.0217 11.49C28.0888 11.4492 28.1578 11.4114 28.2283 11.3767C28.3483 11.315 28.54 11.225 28.7567 11.1584C28.9067 11.1117 29.3517 10.98 29.8317 11.135C30.0863 11.2153 30.3132 11.3655 30.4865 11.5686C30.6597 11.7716 30.7724 12.0193 30.8117 12.2834C30.8737 12.5146 30.8755 12.7579 30.8167 12.99C30.7 13.4484 30.38 13.805 30.0867 14.0784C29.8367 14.3117 26.595 17.4383 23.3967 20.525L19.0417 24.725L18.2667 25.475L28.0533 32.9783C28.1854 33.0338 28.3289 33.0567 28.4717 33.045C28.5436 33.0353 28.6112 33.0052 28.6667 32.9583C28.7342 32.9013 28.7922 32.8338 28.8383 32.7583L28.8417 32.7567L33.6583 8.46835C33.5066 8.50485 33.3578 8.55276 33.2133 8.61168L33.21 8.61335ZM19.1083 29.27L17.155 27.7733L16.6817 30.7817L19.1083 29.27ZM15.3633 24.8033L17.305 22.9283L21.66 18.725L23.2817 17.1617L12.415 23.5233L12.4733 23.66C13.1587 25.2791 13.8365 26.9013 14.5067 28.5267L14.9783 25.5267C15.021 25.2484 15.1567 24.9945 15.3633 24.8033Z" fill="white"/>
              </svg>                          
            </div>
        </div>
        </div>
        <div class="text-center text-black text-lg font-bold">Contact Center</div>
        <div class="w-64 text-center text-black text-xs font-normal leading-none">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt</div>
      </div>
      <!--Creating-->
      <div class="w-72 h-52 px-4 pt-7 pb-8 rounded-lg shadow flex-col justify-center items-center gap-4 inline-flex transition-transform duration-300 transform-gpu hover:scale-110">
        <div class="w-15 h-15 py-2 px-2 bg-indigo-600 rounded-lg gap-2.5">
          <div class="w-15 h-15 py-2 px-2 bg-indigo-600 rounded-lg justify-items items-center gap-2.5 inline-flex">
            <div class="w-10 h-10 relative">
              <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.6667 23.8333H20.0001M20.0001 23.8333H23.3334M20.0001 23.8333V27.1667M20.0001 23.8333V20.5" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                <path d="M3.33337 12.0834C3.33337 10.6117 3.33337 9.87671 3.45004 9.26337C3.69875 7.94644 4.3386 6.73504 5.28613 5.78722C6.23365 4.83939 7.44485 4.19916 8.76171 3.95004C9.37671 3.83337 10.1134 3.83337 11.5834 3.83337C12.2267 3.83337 12.55 3.83337 12.86 3.86171C14.1951 3.98709 15.4614 4.51217 16.4934 5.36837C16.7334 5.56671 16.96 5.79337 17.4167 6.25004L18.3334 7.16671C19.6934 8.52671 20.3734 9.20671 21.1867 9.65837C21.6337 9.90753 22.108 10.1044 22.6 10.245C23.4967 10.5 24.4584 10.5 26.38 10.5H27.0034C31.39 10.5 33.585 10.5 35.01 11.7834C35.1417 11.9 35.2667 12.025 35.3834 12.1567C36.6667 13.5817 36.6667 15.7767 36.6667 20.1634V23.8334C36.6667 30.1184 36.6667 33.2617 34.7134 35.2134C32.7617 37.1667 29.6184 37.1667 23.3334 37.1667H16.6667C10.3817 37.1667 7.23837 37.1667 5.28671 35.2134C3.33337 33.2617 3.33337 30.1184 3.33337 23.8334V12.0834Z" stroke="white" stroke-width="1.5"/>
              </svg>                          
            </div>
        </div>
        </div>
        <div class="text-center text-black text-lg font-bold">Creating</div>
        <div class="w-64 text-center text-black text-xs font-normal leading-none">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt</div>
      </div>
      <!--Buying-->
      <div class="w-72 h-52 px-4 pt-7 pb-8 rounded-lg shadow flex-col justify-center items-center gap-4 inline-flex transition-transform duration-300 transform-gpu hover:scale-110">
        <div class="w-15 h-15 py-2 px-2 bg-indigo-600 rounded-lg gap-2.5">
          <div class="w-15 h-15 py-2 px-2 bg-indigo-600 rounded-lg justify-items items-center gap-2.5 inline-flex">
            <div class="w-10 h-10 relative">
              <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.16669 7.58337C4.16669 7.25185 4.29838 6.93391 4.5328 6.69949C4.76722 6.46507 5.08517 6.33337 5.41669 6.33337H6.34669C7.93002 6.33337 8.88002 7.39837 9.42169 8.38837C9.78335 9.04837 10.045 9.81337 10.25 10.5067C10.3055 10.5023 10.3611 10.5001 10.4167 10.5H31.2467C32.63 10.5 33.63 11.8234 33.25 13.155L30.2034 23.8367C29.9302 24.7948 29.3523 25.6378 28.5572 26.2381C27.762 26.8383 26.793 27.1632 25.7967 27.1634H15.8834C14.8792 27.1634 13.9028 26.8337 13.1042 26.2248C12.3057 25.616 11.7292 24.7617 11.4634 23.7934L10.1967 19.1734L8.09669 12.0934L8.09502 12.08C7.83502 11.135 7.59169 10.25 7.22835 9.59004C6.88002 8.94837 6.60002 8.83337 6.34835 8.83337H5.41669C5.08517 8.83337 4.76722 8.70168 4.5328 8.46726C4.29838 8.23284 4.16669 7.91489 4.16669 7.58337ZM15 35.5C15.8841 35.5 16.7319 35.1488 17.357 34.5237C17.9822 33.8986 18.3334 33.0508 18.3334 32.1667C18.3334 31.2827 17.9822 30.4348 17.357 29.8097C16.7319 29.1846 15.8841 28.8334 15 28.8334C14.116 28.8334 13.2681 29.1846 12.643 29.8097C12.0179 30.4348 11.6667 31.2827 11.6667 32.1667C11.6667 33.0508 12.0179 33.8986 12.643 34.5237C13.2681 35.1488 14.116 35.5 15 35.5ZM26.6667 35.5C27.5507 35.5 28.3986 35.1488 29.0237 34.5237C29.6488 33.8986 30 33.0508 30 32.1667C30 31.2827 29.6488 30.4348 29.0237 29.8097C28.3986 29.1846 27.5507 28.8334 26.6667 28.8334C25.7826 28.8334 24.9348 29.1846 24.3097 29.8097C23.6845 30.4348 23.3334 31.2827 23.3334 32.1667C23.3334 33.0508 23.6845 33.8986 24.3097 34.5237C24.9348 35.1488 25.7826 35.5 26.6667 35.5Z" fill="white"/>
              </svg>                          
            </div>
        </div>
        </div>
        <div class="text-center text-black text-lg font-bold">Buying</div>
        <div class="w-64 text-center text-black text-xs font-normal leading-none">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt</div>
      </div>
      <!--Selling-->
      <div class="w-72 h-52 px-4 pt-7 pb-8 rounded-lg shadow flex-col justify-center items-center gap-4 inline-flex transition-transform duration-300 transform-gpu hover:scale-110">
        <div class="w-15 h-15 py-2 px-2 bg-indigo-600 rounded-lg gap-2.5">
          <div class="w-15 h-15 py-2 px-2 bg-indigo-600 rounded-lg justify-items items-center gap-2.5 inline-flex">
            <div class="w-10 h-10 relative">
              <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M30.625 4.25C28.9 4.25 27.5 5.65 27.5 7.375V33.625C27.5 35.35 28.9 36.75 30.625 36.75H31.875C33.6 36.75 35 35.35 35 33.625V7.375C35 5.64833 33.6 4.25 31.875 4.25H30.625ZM16.25 14.875C16.25 13.1483 17.65 11.75 19.375 11.75H20.625C22.3517 11.75 23.75 13.15 23.75 14.875V33.625C23.75 35.35 22.35 36.75 20.625 36.75H19.375C18.5462 36.75 17.7513 36.4208 17.1653 35.8347C16.5792 35.2487 16.25 34.4538 16.25 33.625V14.875ZM5 22.375C5 20.6483 6.4 19.25 8.125 19.25H9.375C11.1017 19.25 12.5 20.65 12.5 22.375V33.625C12.5 35.35 11.1 36.75 9.375 36.75H8.125C7.2962 36.75 6.50134 36.4208 5.91529 35.8347C5.32924 35.2487 5 34.4538 5 33.625V22.375Z" fill="white"/>
              </svg>
                          
            </div>
        </div>
        </div>
        <div class="text-center text-black text-lg font-bold">Selling</div>
        <div class="w-64 text-center text-black text-xs font-normal leading-none">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt</div>
      </div>
      <!--Partners-->
      <div class="w-72 h-52 px-4 pt-7 pb-8 rounded-lg shadow flex-col justify-center items-center gap-4 inline-flex transition-transform duration-300 transform-gpu hover:scale-110">
        <div class="w-15 h-15 py-2 px-2 bg-indigo-600 rounded-lg gap-2.5">
          <div class="w-15 h-15 py-2 px-2 bg-indigo-600 rounded-lg justify-items items-center gap-2.5 inline-flex">
            <div class="w-10 h-10 relative">
              <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.3333 10.5001H23.3333L28.8166 5.00008C28.9716 4.84386 29.1559 4.71987 29.359 4.63526C29.5621 4.55064 29.7799 4.50708 30 4.50708C30.22 4.50708 30.4378 4.55064 30.6409 4.63526C30.844 4.71987 31.0284 4.84386 31.1833 5.00008L35.4833 9.31674C35.7937 9.62901 35.968 10.0514 35.968 10.4917C35.968 10.9321 35.7937 11.3545 35.4833 11.6667L31.6666 15.5001H18.3333V18.8334C18.3333 19.2754 18.1577 19.6994 17.8451 20.0119C17.5326 20.3245 17.1087 20.5001 16.6666 20.5001C16.2246 20.5001 15.8007 20.3245 15.4881 20.0119C15.1756 19.6994 15 19.2754 15 18.8334V13.8334C15 12.9494 15.3512 12.1015 15.9763 11.4764C16.6014 10.8513 17.4492 10.5001 18.3333 10.5001ZM8.3333 18.8334V25.5001L4.51664 29.3167C4.20622 29.629 4.03198 30.0514 4.03198 30.4917C4.03198 30.9321 4.20622 31.3545 4.51664 31.6667L8.81664 35.9834C8.97157 36.1396 9.15591 36.2636 9.35901 36.3482C9.56211 36.4328 9.77995 36.4764 9.99997 36.4764C10.22 36.4764 10.4378 36.4328 10.6409 36.3482C10.844 36.2636 11.0284 36.1396 11.1833 35.9834L18.3333 28.8334H25C25.442 28.8334 25.8659 28.6578 26.1785 28.3453C26.491 28.0327 26.6666 27.6088 26.6666 27.1667V25.5001H28.3333C28.7753 25.5001 29.1993 25.3245 29.5118 25.0119C29.8244 24.6994 30 24.2754 30 23.8334V22.1667H31.6666C32.1087 22.1667 32.5326 21.9911 32.8451 21.6786C33.1577 21.366 33.3333 20.9421 33.3333 20.5001V18.8334H21.6666V20.5001C21.6666 21.3841 21.3154 22.232 20.6903 22.8571C20.0652 23.4822 19.2174 23.8334 18.3333 23.8334H15C14.1159 23.8334 13.2681 23.4822 12.6429 22.8571C12.0178 22.232 11.6666 21.3841 11.6666 20.5001V15.5001L8.3333 18.8334Z" fill="white"/>
              </svg>                          
            </div>
        </div>
        </div>
        <div class="text-center text-black text-lg font-bold">Partners</div>
        <div class="w-64 text-center text-black text-xs font-normal leading-none">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt</div>
      </div>
      <!--Developers-->
      <div class="w-72 h-52 px-4 pt-7 pb-8 rounded-lg shadow flex-col justify-center items-center gap-4 inline-flex transition-transform duration-300 transform-gpu hover:scale-110">
        <div class="w-15 h-15 py-2 px-2 bg-indigo-600 rounded-lg gap-2.5">
          <div class="w-15 h-15 py-2 px-2 bg-indigo-600 rounded-lg justify-items items-center gap-2.5 inline-flex">
            <div class="w-10 h-10 relative">
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M25.4166 3.83325C25.7187 3.83326 26.0105 3.94266 26.2382 4.1412C26.4658 4.33974 26.6139 4.614 26.655 4.91325L26.6666 5.08325V8.95825C27.8688 9.20432 28.9721 9.79845 29.8392 10.6667C30.7063 11.535 31.2989 12.6391 31.5433 13.8416H35.4166C35.7334 13.8417 36.0382 13.962 36.2696 14.1782C36.501 14.3944 36.6418 14.6904 36.6634 15.0064C36.6849 15.3224 36.5858 15.6347 36.3859 15.8804C36.1861 16.1261 35.9004 16.2867 35.5866 16.3299L35.4166 16.3416L31.6666 16.3399V19.2566H35.4166C35.7192 19.2567 36.0115 19.3666 36.2392 19.5658C36.4669 19.765 36.6146 20.0401 36.655 20.3399L36.6666 20.5066C36.667 20.8089 36.5578 21.1012 36.3592 21.3292C36.1607 21.5572 35.8862 21.7055 35.5866 21.7466L35.4166 21.7583L31.6666 21.7566V24.6733H35.4166C35.7192 24.6734 36.0115 24.7832 36.2392 24.9825C36.4669 25.1817 36.6146 25.4567 36.655 25.7566L36.6666 25.9233C36.667 26.2256 36.5578 26.5178 36.3592 26.7458C36.1607 26.9738 35.8862 27.1221 35.5866 27.1633L35.4166 27.1749H31.54C31.2927 28.3738 30.6992 29.4739 29.833 30.3389C28.9668 31.2039 27.8659 31.7959 26.6666 32.0416V35.9166C26.6665 36.2333 26.5462 36.5382 26.33 36.7696C26.1138 37.001 25.8178 37.1417 25.5018 37.1633C25.1859 37.1849 24.8735 37.0857 24.6278 36.8859C24.3821 36.686 24.2215 36.4003 24.1783 36.0866L24.1666 35.9166V32.1649H21.2483L21.25 35.9166C21.25 36.2186 21.1406 36.5105 20.942 36.7381C20.7435 36.9658 20.4692 37.1138 20.17 37.1549L20 37.1666C19.6979 37.1666 19.4061 37.0572 19.1784 36.8586C18.9508 36.6601 18.8027 36.3858 18.7616 36.0866L18.75 35.9166L18.7483 32.1649H15.8333V35.9166C15.8333 36.2186 15.7239 36.5105 15.5254 36.7381C15.3268 36.9658 15.0526 37.1138 14.7533 37.1549L14.5833 37.1666C14.2812 37.1666 13.9894 37.0572 13.7618 36.8586C13.5341 36.6601 13.3861 36.3858 13.345 36.0866L13.3333 35.9166V32.0416C12.1326 31.7958 11.0304 31.2028 10.1638 30.3361C9.29711 29.4695 8.70408 28.3673 8.45831 27.1666H4.58331C4.26661 27.1665 3.96174 27.0462 3.73033 26.83C3.49891 26.6138 3.35819 26.3178 3.3366 26.0018C3.31502 25.6858 3.41417 25.3734 3.61403 25.1278C3.8139 24.8821 4.09956 24.7214 4.41331 24.6783L4.58331 24.6666L8.33331 24.6649V21.7483L4.58331 21.7499C4.28125 21.7499 3.98941 21.6405 3.76176 21.442C3.53411 21.2434 3.38606 20.9692 3.34498 20.6699L3.33331 20.4999C3.33333 20.1979 3.44272 19.906 3.64126 19.6784C3.8398 19.4507 4.11406 19.3027 4.41331 19.2616L4.58331 19.2499L8.33331 19.2483V16.3316L4.58331 16.3333C4.28125 16.3332 3.98941 16.2238 3.76176 16.0253C3.53411 15.8268 3.38606 15.5525 3.34498 15.2533L3.33331 15.0833C3.33333 14.7812 3.44272 14.4893 3.64126 14.2617C3.8398 14.0341 4.11406 13.886 4.41331 13.8449L4.58331 13.8333L8.45831 13.8316C8.70437 12.6311 9.29753 11.5294 10.1642 10.663C11.0308 9.79668 12.1328 9.2039 13.3333 8.95825V5.08325C13.3334 4.76655 13.4537 4.46168 13.6699 4.23027C13.8861 3.99885 14.1821 3.85813 14.4981 3.83654C14.8141 3.81496 15.1265 3.91411 15.3721 4.11397C15.6178 4.31383 15.7785 4.5995 15.8216 4.91325L15.8333 5.08325V8.83159H18.7483L18.75 5.08325C18.75 4.78119 18.8594 4.48935 19.0579 4.2617C19.2565 4.03405 19.5307 3.886 19.83 3.84492L20 3.83325C20.302 3.83326 20.5939 3.94266 20.8215 4.1412C21.0492 4.33974 21.1972 4.614 21.2383 4.91325L21.25 5.08325L21.2483 8.83159H24.1666V5.08325C24.1666 4.80978 24.2562 4.54383 24.4218 4.32618C24.5874 4.10853 24.8197 3.95118 25.0833 3.87825L25.2466 3.84492L25.4166 3.83325ZM20.0083 15.5083C18.6822 15.5083 17.4105 16.035 16.4728 16.9727C15.5351 17.9104 15.0083 19.1822 15.0083 20.5083C15.0083 21.8343 15.5351 23.1061 16.4728 24.0438C17.4105 24.9815 18.6822 25.5083 20.0083 25.5083C21.3344 25.5083 22.6062 24.9815 23.5438 24.0438C24.4815 23.1061 25.0083 21.8343 25.0083 20.5083C25.0083 19.1822 24.4815 17.9104 23.5438 16.9727C22.6062 16.035 21.3344 15.5083 20.0083 15.5083ZM20.0083 18.0083C20.6714 18.0083 21.3072 18.2716 21.7761 18.7405C22.2449 19.2093 22.5083 19.8452 22.5083 20.5083C22.5083 21.1713 22.2449 21.8072 21.7761 22.276C21.3072 22.7449 20.6714 23.0083 20.0083 23.0083C19.3453 23.0083 18.7094 22.7449 18.2405 22.276C17.7717 21.8072 17.5083 21.1713 17.5083 20.5083C17.5083 19.8452 17.7717 19.2093 18.2405 18.7405C18.7094 18.2716 19.3453 18.0083 20.0083 18.0083Z" fill="white"/>
              </svg>          
            </div>
        </div>
        </div>
        <div class="text-center text-black text-lg font-bold">Developers</div>
        <div class="w-64 text-center text-black text-xs font-normal leading-none">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt</div>
      </div>
    </div>
  </div>
</div>